{% extends "app_base.html" %}

{% block content %}


<div class="page-header">
	<h1>{{ page_heading }}</h1>
</div>

<form role="form" action="" method="POST">
  {% csrf_token %}
  <ul class="nav nav-pills">
    <li class="active"><button type="submit" class="btn btn-primary"
      value="first_name" name="button">Sort by first name</button></li>
    <li><button type="submit" class="btn btn-primary" value="last_name"
      name="button">Sort by last name</button></li>
    <li class="active"><button type="submit" class="btn btn-primary"
      value="newest_first" name="button">Sort by newest first</button></li>
  </ul>
</form>

<br/>
            
<div class="panel panel-primary">
	<table class="table table-hover">
		<thead>
			<tr>
				{% for table_heading in table_headings %}
					<th>{{ table_heading }}</th>
				{% endfor%}
			</tr>
		</thead>
		<tbody> 
			{% for participant in participants %}
				<tr id={{ participant.id }} onclick="document.location='{% url 'participant-view' participant.id %}';">
					<td>{{ participant.first_name }}</td>
					<td>{{ participant.last_name }}</td>
					<td>{{ participant.email }}</td>
					<td>{{ participant.phone }}</td>
				</tr>
			{% empty %}
				<tr>
					<td>There are no participants yet.</td>
				</tr>
			{% endfor%}
		</tbody>
	</table>
</div>

<a href={% url 'participant-add' %}><button type="button" class="btn btn-primary" data-toggle="button">Add participant</button></a>

		
{% endblock %}
