<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" 
      href="{% static 'images/econvenor-favicon-v1.ico' %}">

    <title>eConvenor - Your virtual convenor</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and
         media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
        </script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
        </script>
    <![endif]-->

  </head>

  <body>

    <!-- NAVBAR 
    ================================================== -->

    <div class="navbar navbar-static-top">
      <div class="container">
        <span class="navbar-brand">
          <a href="{% url 'index' %}">
            <img src="{% static 'images/econvenor-logo-v1l.png' %}"
              width="200" height="45" alt="An image of the eConvenor logo">
          </a>
        </span>
      </div>
    </div>

    <!-- MAIN SECTION
    ================================================== -->

    <div class="section-registration">
      <div class="container">
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <div class="panel panel-default panel-register">
            <div class="panel-heading red">
              <h1>
                <span class="fa-stack fa-md fa-fw">
                  <i class="fa fa-square fa-stack-2x white"></i>
                  <i class="fa fa-sign-in fa-stack-1x red"></i>
                </span>&nbsp;
                Login to eConvenor
              </h1>
            </div>
            <div class="panel-body">
              {% block content %}
              {% endblock content %}
            </div>
          </div><!-- panel -->
        </div><!-- col -->
      </div><!-- container -->
    </div><!-- section -->

  {% include 'no_javascript.html' %}

  <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script> 
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>
  <script src="{% static 'js/jquery.validate-1.11.1.min.js' %}"></script>

  </body>
</html>
