{% extends "password_reset_base.html" %}
{% load setclass %}

{% block heading %}
  Password reset
{% endblock heading %}

{% block content %}

  {% if validlink %}
    <p>Passwords must meet these requirements:</p>
    <ul>
      <li>
        <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
        be at least 8 characters long,
      </li>
      <li>
        <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
        contain at least 1 letter,
      </li>
      <li>
        <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
        contain at least 1 digit,
      </li>
      <li>
        <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
        contain at least 1 special character, and
      </li>
      <li>
        <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
        contain no spaces.
      </li>
    </ul>
    <form role="form" id="changepasswordform" action="" method="POST">
    {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
          {{ field.errors }}
        </div>
      {% endfor %}
      <div class="pull-right">
        <button type="submit" class="btn btn-primary" value="Change my password">
          <i class="fa fa-check-circle fa-lg"></i>&nbsp;
          Change password
        </button>
      </div>
    </form>
  {% else %}
    <p class="lead">Password reset unsuccessful</p>
    <p>The password reset link you just clicked was invalid, possibly because it has already been used.</p>
    <p>Please <a href={% url 'password_reset' %}>request a new password reset</a>.</p>
  {% endif %}

{% endblock content %}

{% block extrajs %}

<script>

  $(function() {

    jQuery.validator.addMethod("passwordCheck", function(value, element) {
      return this.optional(element) || /^(?=.*[a-zA-Z])(?=.*\d)(?=.*\W)[a-zA-Z0-9\S]{8,}$/.test(value);
    },
    "This password does not meet the requirements.");

    $("#changepasswordform").validate({
      rules: {
        password1: {
          required: true,
          passwordCheck: true,
        },
        password2: {
          required: true,
          equalTo: "#id_password1",
        },
      },
      messages: {
        password1: {
          required: "Please enter your new password.",
        },
        password2: {
          required: "Please enter your new password confirmation.",
          equalTo: "Please enter a password which matches the new password.",
        },
      },
    });
  })

</script>

{% endblock extrajs %}
