{% extends "password_reset_base.html" %}
{% load setclass %}
{% load staticfiles %}

{% block heading %}
  Check your email!
{% endblock heading %}


{% block content %}

  <p>We've emailed you instructions for resetting your password. You should receive them shortly.</p>

  <p>If you don't receive an email:</p>
  <ul>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      make sure you entered the email address you registered with on the previous page, and
    </li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      check your spam folder.
    </li>
  </ul>

{% endblock content %}

