{% extends "password_reset_base.html" %}
{% load setclass %}
{% load staticfiles %}

{% block heading %}
  Forgotten your password?
{% endblock heading %}


{% block content %}

  <p>Enter your email address below, and we'll email instructions for setting a
  new password.</p>

  <form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
      {{ form.email.errors }}
      {{ form.email|setclass:"form-control email" }}
    </div>
    <div class="pull-right">
      <input type="submit" class="btn btn-primary" value="Reset my password" />
    </div>
  </form>

{% endblock content %}

{% block extrajs %}
  <script type="text/javascript">
    $('.email').on("keyup", function(){
      $(this).val($(this).val().toLowerCase());
    });
  </script>
{% endblock extrajs %}

