{% extends "app_base.html" %}
{% load setclass %}

{% block content %}


{% ifequal display_mode 'edit' %}
  <div class="page-header">
    <h1>{{ page_heading }}</h1>
  </div>


  <div class="well">
    <form role="form" action="" method="POST">
      {% csrf_token %}
      {% for hidden in feature_form.hidden_fields %}
        <div class="form-group">
          {{ hidden }}
        </div>
      {% endfor %}
      <div class="form-group">
        <label>Title for this feature request</label>
        {{ feature_form.title|setclass:"form-control" }}
      </div>
      <div class="form-group">
        <label>What is it that you would like to do but can't?</label>
        {{ feature_form.goal|setclass:"form-control" }}
      </div>
      <div class="form-group">
        <label>Why can't you do it?</label>
        {{ feature_form.shortcoming|setclass:"form-control" }}
      </div>
      <div class="form-group">
        <label>How would you like to be able to do it?</label>
        {{ feature_form.suggestion|setclass:"form-control" }}
      </div>
      <div class="form-group">
        <label>Any other comments?</label>
        {{ feature_form.comment|setclass:"form-control" }}
      </div>
      {% ifequal allow_status_editing True %}
        <div class="form-group">
          <label>Status</label>
          {{ feature_form.status|setclass:"form-control" }}
        </div>
        <div class="form-group">
          <label>Closing comment</label>
          {{ feature_form.comment_closing|setclass:"form-control" }}
        </div>
      {% endifequal %}
      <button type="submit" class="btn btn-primary">
        Save feature
      </button>
      <a href={% url 'feature-list' %}>
        <button type="button" class="btn btn-default">
          Cancel
        </button>
      </a>
    </form>
  </div><!-- /.well -->
{% endifequal %}

{% ifequal display_mode 'view' %}
    <div class="col-sm-10 col-md-10 col-lg-8 no-toolbar">
  <div class="panel panel-primary panel-help">
    <div class="panel-heading">
     <i class="fa fa-star fa-fw fa-lg"></i>&nbsp;
     Feature request #{{ feature.id }}
    </div>
  </div>
    <div class="panel panel-default panel-help">
      <div class="panel-heading">
      &nbsp;Title for this feature request
    </div>
    <div class="panel-body">
      {{ feature.title }}
    </div>
    <div class="panel panel-default panel-help">
      <div class="panel-heading">
        &nbsp;Date requested
    </div>
    <div class="panel-body">
      {{ feature.created }}
    </div>
    <div class="panel panel-default panel-help">
      <div class="panel-heading">
        &nbsp;What would the proposed feature do?
    </div>
    <div class="panel-body">
      {{ feature.goal|linebreaks }}
    </div>
    <div class="panel panel-default panel-help">
      <div class="panel-heading">
        &nbsp;What prevents this from happening now?
    </div>
    <div class="panel-body">
      {{ feature.shortcoming|linebreaks }}
    </div>
    <div class="panel panel-default panel-help">
      <div class="panel-heading">
        &nbsp;How would the proposed feature work?
    </div>
    <div class="panel-body">
      {{ feature.suggestion|linebreaks }}
    </div>
    <div class="panel panel-default panel-help">
      <div class="panel-heading">
        &nbsp;Comments
    </div>
    <div class="panel-body">
      {{ feature.comment|linebreaks }}
    </div>
    <div class="panel panel-default panel-help">
      <div class="panel-heading">
        &nbsp;Feature request status
    </div>
    <div class="panel-body">
      {{ feature.status }}
    </div>

    {% if feature.comment_closing %}
      <p><strong>Closing comment</strong></p>
      {{ feature.comment_closing }}
      <br><br>

    {% endif %}

  <div class="pull-right">
  <br>
    <a href={% url 'feature-list' %}>
      <button type="button" class="btn btn-primary">
        Back to feature list
      </button>
    </a>
  </div><!-- /.panel -->
{% endifequal %}

{% endblock %}
