{% extends "registration_base.html" %}
{% load setclass %}
{% load staticfiles %}

{% block heading %}

  Step 2 of 2

{% endblock heading %}

{% block content %}



    <form role="form" method="POST">
      {% csrf_token %}

      <div class="form-group">      
        {{ user_form.username.label_tag }}      
        {{user_form.username|setclass:"form-control" }}
        {{ user_form.username.errors }}
      </div>
      <div class="form-group">      
        {{ user_form.first_name.label_tag }}      
        {{user_form.first_name|setclass:"form-control" }}
        {{ user_form.first_name.errors }}
      </div>
      <div class="form-group">      
        {{ user_form.last_name.label_tag }}      
        {{user_form.last_name|setclass:"form-control" }}
        {{ user_form.last_name.errors }}
      </div>
      <div class="form-group">      
        {{ group_form.name.label_tag }}      
        {{group_form.name|setclass:"form-control" }}
        {{ group_form.name.errors }}
      </div>
      <div class="form-group">      
        {{ group_form.description.label_tag }}      
        {{group_form.description|setclass:"form-control" }}
        {{ group_form.description.errors }}
      </div>

      <div class="pull-right">
        <a href="{% url 'register' %}" class="btn btn-default">
          <i class="fa fa-arrow-circle-left fa-lg fa-fw"></i>&nbsp;
          Back
        </a>
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-check-circle fa-lg fa-fw"></i>&nbsp;
        Start using eConvenor
        </button>
      </div>

    </form>
  </div>
       
{% endblock content %}
