{% extends "registration_base.html" %}
{% load setclass %}
{% load staticfiles %}

{% block heading %}

  What eConvenor expects from you&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  Step 6 of 9

{% endblock heading %}

{% block content %}

<p class="lead">We expect that you will:</p>
  <ul>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      use your account only for groups who are progressive, committed to social justice and not-for-profit</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      contribute financially if your group should do so</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      do your best to use strong passwords</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      maintain the security of your passwords and login details and</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      abide by these terms and conditions</li>
  </ul>

<p class="lead">We hope that you will:</p>
  <ul>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      spread the word about eConvenor</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      tell us when something isn't working, whether it's just broken, or an accessibility problem and</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      raise any concerns you have with us via email</li>
    <li>
  </ul>

<p class="lead">We expect that you will not:</p>
  <ul>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      use your account for groups which are government agencies, authorities or departments; or groups which aim to spread or impose religion</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      use eConvenor to progress right-wing, socially conservative, economically conservative, oppressive or otherwise harmful agendas or</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      lie to us in your application to use eConvenor</li>
  </ul>

<p class="lead">If you break the rules, we may:</p>
  <ul>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      send you a warning</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      lock your account until the matter is resolved</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      refuse any further access to your account and stored data (in serious cases)</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      delete your data (in serious cases) and/or</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      block you and your group from using eConvenor (in serious cases)</li>
  </ul>

  <div class="pull-right">
    {% if trial_account %}
      <a href="{% url 'qualify' 'step5a' %}" class="btn btn-default">
    {% else %}
      <a href="{% url 'qualify' 'step5' %}" class="btn btn-default">
    {% endif %}
      <i class="fa fa-arrow-circle-left fa-lg fa-fw"></i>&nbsp;
      Back
    </a>
    <a href="{% url 'index' %}" class="btn btn-primary">
      <i class="fa fa-times-circle fa-lg fa-fw"></i>&nbsp;
      Quit
    </a>
    {% if trial_account %}
      <a href="{% url 'qualify' 'step7a' %}" class="btn btn-primary">
    {% else %}
      <a href="{% url 'qualify' 'step7' %}" class="btn btn-primary">
    {% endif %}
      <i class="fa fa-check-circle fa-lg fa-fw"></i>&nbsp;
      I understand
    </a>
  </div>

{% endblock content %}

