{% extends "registration_base.html" %}
{% load setclass %}
{% load staticfiles %}

{% block heading %}

  The last step&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  Step 9 of 9

{% endblock heading %}

{% block content %}

<p class="lead">Please confirm the following to move on to setting up your account:</p>
  <ul>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      I have answered the eligibility check questions honestly</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      I agree to eConvenor's terms and conditions</li>
  </ul>

  <div class="pull-right">
    {% if trial_account %}
      <a href="{% url 'qualify' 'step8a' %}" class="btn btn-default">
    {% else %}
      <a href="{% url 'qualify' 'step8' %}" class="btn btn-default">    
    {% endif %}
      <i class="fa fa-arrow-circle-left fa-lg fa-fw"></i>&nbsp;
      Back
    </a>
    <a href="{% url 'index' %}" class="btn btn-primary">
      <i class="fa fa-times-circle fa-lg fa-fw"></i>&nbsp;
      Quit
    </a>
    {% if trial_account %}
      <a href="{% url 'register' 'trial' %}" class="btn btn-primary">
    {% else %}
      <a href="{% url 'register' '' %}" class="btn btn-primary">
    {% endif %}
      <i class="fa fa-check-circle fa-lg fa-fw"></i>&nbsp;
      I agree
    </a>
  </div>
       
{% endblock content %}

