{% extends "registration_base.html" %}
{% load setclass %}
{% load staticfiles %}

{% block heading %}

  What you can expect from eConvenor&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  Step 7 of 9

{% endblock heading %}

{% block content %}


<p class="lead">eConvenor promises not to:</p>
  <ul>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      give your data to third parties unless compelled by law</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      sell or trade your contact details or other information or</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      ask you for unnecessary private or personal information.</li>
    <li>
  </ul>

<p class="lead">eConvenor promises to:</p>
  <ul>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      act ethically in building and maintaining eConvenor</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      vigorously resist all demands for information from third parties up until the point where we are compelled to comply with a lawful demand and</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      tell you when eConvenor's terms and conditions change.</li>
  </ul>

<p class="lead">eConvenor will try as hard as possible to:</p>
  <ul>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      keep your data secure</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      make eConvenor accessible to people with disabilities and</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      provide uninterrupted access to the service.</li>
  </ul>

<p class="lead">If you raise a concern with eConvenor we will:</p>
  <ul>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      respond in reasonable timeframe considering that we are a tiny, volunteer organisation</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      examine our own conduct in good faith and with an openness to change</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      aim to resolve issues with a will to abolish oppression, recognition of responsibility for misuse of privilege, and a committment to social justice.</li>
  </ul>

  <div class="pull-right">
    {% if trial_account %}
      <a href="{% url 'qualify' 'step6a' %}" class="btn btn-default">
    {% else %}
      <a href="{% url 'qualify' 'step6' %}" class="btn btn-default">
    {% endif %}
      <i class="fa fa-arrow-circle-left fa-lg fa-fw"></i>&nbsp;
      Back
    </a>
    <a href="{% url 'index' %}" class="btn btn-primary">
      <i class="fa fa-times-circle fa-lg fa-fw"></i>&nbsp;
      Quit
    </a>
    {% if trial_account %}
      <a href="{% url 'qualify' 'step8a' %}" class="btn btn-primary">
    {% else %}
      <a href="{% url 'qualify' 'step8' %}" class="btn btn-primary">
    {% endif %}
      <i class="fa fa-check-circle fa-lg fa-fw"></i>&nbsp;
      I understand
    </a>
  </div>

{% endblock content %}

