{% extends "registration_base.html" %}
{% load setclass %}
{% load staticfiles %}

{% block heading %}

  Licence and legal bits&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  Step 8 of 9

{% endblock heading %}

{% block content %}

<p class="lead">It is okay for you to:</p>
  <ul>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      use, modify or reproduce snippets of code without attribution</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      review eConvenor's source code for learning, security or other purposes</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      contribute to eConvenor's code base</li>
  </ul>

<p class="lead">It is not okay for you to:</p>
  <ul>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      sell access to eConvenor</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      sell copies of eConvenor</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      use eConvenor's source code to create and sell a similar service or</li>
    <li>
      <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
      use eConvenor's name or logo without eConvenor's permission</li>
  </ul>

<p class="lead">Abandoned accounts</p>

<p>If you don't sign in to your account for 12 months, it will be treated as abandoned. eConvenor will delete abandoned accounts.</p>

<p class="lead">Updates to eConvenor's terms and conditions</p>

<p>eConvenor's terms and conditions are likely to change from time to time. We will tell you when they do. By continuing to use eConvenor after the terms and conditions change, you agree to the new terms and conditions.</p>

<p class="lead">Jurisdiction</p>

<p>eConvenor is an Australian organisation, and the terms and conditions are governed in all respects by the laws of Australia. Any actions arising from the terms and conditions or in any way associated with eConvenor may be brought only in Australia.</p>

<p class="lead">Liability</p>

<p>The service is provided "as is", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and non-infringement. In no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the service or the use or other dealings in the service.</p>

  <div class="pull-right">
    {% if trial_account %}
      <a href="{% url 'qualify' 'step7a' %}" class="btn btn-default">
    {% else %}
      <a href="{% url 'qualify' 'step7' %}" class="btn btn-default">
    {% endif %}
      <i class="fa fa-arrow-circle-left fa-lg fa-fw"></i>&nbsp;
      Back
    </a>
    <a href="{% url 'index' %}" class="btn btn-primary">
      <i class="fa fa-times-circle fa-lg fa-fw"></i>&nbsp;
      Quit
    </a>
    {% if trial_account %}
      <a href="{% url 'qualify' 'step9a' %}" class="btn btn-primary">
    {% else %}
      <a href="{% url 'qualify' 'step9' %}" class="btn btn-primary">
    {% endif %}
      <i class="fa fa-check-circle fa-lg fa-fw"></i>&nbsp;
      I understand
    </a>
  </div>

{% endblock content %}

