{% extends "registration_base.html" %}
{% load setclass %}
{% load staticfiles %}

{% block content %}
   
  <p class="lead">eConvenor is not your normal web service.</p>

  <p>Although other web services will give anyone an account in under a minute, eConvenor works differently.</p>
  
  <p>eConvenor is exclusively for progressive groups, so you must complete an eligibility check and read the terms and conditions before registering an account.</p>
  
   <p>eConvenor is a service for:</p>
     <ul>
       <li>
         <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
         grassroots campaigns</li>
       <li>
         <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
         non-government organisations (NGOs)</li>
       <li>
         <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
         progressive service providers</li>
       <li>
         <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
         co-operatives</li>
       <li>
         <i class="fa fa-arrow-circle-right fa-lg fa-fw red"></i>&nbsp;
         activist groups and the like.</li>
     </ul>
      
  <p>It takes about 10 minutes to do the eligibility check and read the terms and conditions.</p>

  <p>We're excited to offer groups who share our vision of a better world a tool to help them be more effective.</p>
  
  <p>Keep fighting!</p>

  <div class="pull-right">    
    <a href="{% url 'index' %}" class="btn btn-default">
      <i class="fa fa-home fa-lg fa-fw"></i>
      Quit
    </a>
    <a href="{% url 'qualify' 'step1' %}" class="btn btn-primary">
      <i class="fa fa-arrow-circle-right fa-lg fa-fw"></i>&nbsp;
      Start
    </a>
  </div>
     
{% endblock content %}

