{% extends "registration_base.html" %}
{% load setclass %}
{% load staticfiles %}

{% block heading %}

  Should your group pay to use eConvenor?&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  Step 5 of 10

{% endblock heading %}

{% block content %}

  <p class="lead">Is your group a political party or trade union in a high-income, reasonably democratic country?</p>

  <p>If you answered yes to the above, please contact us at fees@econvenor.org to arrange payment for using eConvenor. Do not continue with this questionnaire. We will negotiate a payment plan with you, and we'll set up your account.</p>

  <div class="pull-right">
    <a href="{% url 'qualify' 'step4' %}" class="btn btn-default">
      <i class="fa fa-arrow-circle-left fa-lg fa-fw"></i>&nbsp;
      Back
    </a>
    <a href="{% url 'register' %}" class="btn btn-primary">
      <i class="fa fa-check-circle fa-lg fa-fw"></i>&nbsp;
      Yes
    </a>
    <a href="{% url 'register' %}" class="btn btn-primary">
      <i class="fa fa-times-circle fa-lg fa-fw"></i>&nbsp;
      No
    </a>
  </div>
       
{% endblock content %}

