{% extends "registration_base.html" %}
{% load setclass %}
{% load staticfiles %}

{% block heading %}

Log in details

{% endblock heading %}

{% block content %}

    <form role="form" method="POST" id="registerform">
      {% csrf_token %}

      <div class="form-group">      
        {{ user_form.email.label_tag }}      
        {{user_form.email|setclass:"form-control" }}
        {{ user_form.email.errors }}
      </div>
      <div class="form-group">      
        {{ user_form.password1.label_tag }}      
        {{ user_form.password1|setclass:"form-control" }}
        {{ user_form.password1.help_text }}      
      </div>
      <div class="form-group">      
        {{ user_form.password2.label_tag }}      
        {{ user_form.password2|setclass:"form-control" }}
        {{ user_form.password1.errors }}
        {{ user_form.password2.errors }}
      </div>

    <div class="panel-heading">
      <h2>
        Your details
      </h2>
    </div><!-- /.panel-heading -->
    

      <div class="form-group">      
        {{ user_form.username.label_tag }}      
        {{user_form.username|setclass:"form-control" }}
        {{ user_form.username.errors }}
        {{ user_form.username.help_text }}
      </div>
      <div class="form-group">      
        {{ user_form.first_name.label_tag }}      
        {{ user_form.first_name|setclass:"form-control" }}
        {{ user_form.first_name.errors }}
        {{ user_form.first_name.help_text }}
      </div>
      <div class="form-group">      
        {{ user_form.last_name.label_tag }}      
        {{ user_form.last_name|setclass:"form-control" }}
        {{ user_form.last_name.errors }}
        {{ user_form.last_name.help_text }}
      </div>

    <div class="panel-heading">
      <h2>
        Your group's details
      </h2>
    </div><!-- /.panel-heading -->

      <div class="form-group">      
        {{ group_form.name.label_tag }}      
        {{ group_form.name|setclass:"form-control" }}
        {{ group_form.name.errors }}
      </div>
      <div class="form-group">      
        {{ group_form.aim.label_tag }}      
        {{ group_form.aim|setclass:"form-control" }}
        {{ group_form.aim.help_text }}
        {{ group_form.aim.errors }}
      </div>
      <div class="form-group">      
        {{ group_form.focus.label_tag }}      
        {{ group_form.focus|setclass:"form-control" }}
        {{ group_form.focus.help_text }}
        {{ group_form.focus.errors }}
      </div>
      <div class="form-group">      
        {{ group_form.country.label_tag }}      
        {{ group_form.country|setclass:"form-control" }}
        {{ group_form.country.help_text }}
        {{ group_form.country.errors }}
      </div>
      <div class="pull-right">
        <a href="{% url 'qualify' 'step9' %}" class="btn btn-default">
          <i class="fa fa-arrow-circle-left fa-lg fa-fw"></i>&nbsp;
          Back
        </a>
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-check-circle fa-lg fa-fw"></i>&nbsp;
          Create my account
        </button>
      </div>
    </form>       
  
{% endblock content %}

{% block extrajs %}

<script>

  $(function() {
  
    jQuery.validator.addMethod("passwordCheck", function(value, element) {
      return this.optional(element) || /^(?=.*[a-zA-Z])(?=.*\d)(?=.*\W)[a-zA-Z0-9\S]{8,}$/.test(value);
    },
    "This password does not meet the requirements.");

    jQuery.validator.addMethod("usernameCheck", function(value, element) {
      return this.optional(element) || /^[\w]+$/.test(value);
    },
    "This username does not meet the requirements.");

    $("#registerform").validate({
      rules: {
        email: {
          required: true,
          email: true,
        },
        password1: {
          required: true,
          passwordCheck: true,
        },
        password2: {
          required: true,
          equalTo: "#id_password1",
        },
        username: {
          required: true,
          usernameCheck: true,
        },
        first_name: {
          required: true,
          maxlength: 30,
        },
        last_name: {
          maxlength: 30,
        },
        name: {
          required: true,
          maxlength: 100,
        },
        aim: {
          required: true,
          maxlength: 200,
        },
        focus: {
          required: true,
          maxlength: 40,
        },
        country: {
          required: true,
          maxlength: 40,
        },
      },
      messages: {
        email: {
          required: "Please enter your email address. This will be your login.",
          email: "Please enter a valid email address.",
        },
        password1: {
          required: "Please enter a password.",
        },
        password2: {
          required: "Please enter a password confirmation.",
          equalTo: "Please enter a password which matches the one above.",
        },
        username: {
          required: "Please enter a username.",
        },
        first_name: {
          required: "Please enter your given name.",
          maxlength: 30,
        },
        last_name: {
          maxlength: 30,
        },
        name: {
          required: "Please enter the name of your group.",
          maxlength: 100,
        },
        aim: {
          required: "Please enter your group's aim.",
          maxlength: 100,
        },
        focus: {
          required: "Please enter your group's area of focus.",
          maxlength: 40,
        },
        country: {
          required: "Please enter your group's country.",
          maxlength: 40,
        },
      },
    });
  })
  
</script>

{% endblock extrajs %}
