{% extends "app_base.html" %}

{% block content %}

<div class="well-sm" id="dashboard-header">
  <h1>{{ group.name }}</h1>
</div>

<div class="col-sm-6">
  <div class="panel panel-primary panel-welcome">
    <div class="panel-heading">
      <i class="fa fa-star fa-fw"></i>&nbsp;
      Welcome to eConvenor beta!
    </div>
    <div class="panel-body">
      <p>Thanks for setting up an account!</p>
      <p>We hope that eConvenor helps your group to be better organised, more efficient and ultimately more successful.</p>
    </div>
  </div>

  <div class="panel panel-default panel-welcome">
    <div class="panel-heading">
      <i class="fa fa-laptop fa-fw"></i>&nbsp;
      Bigger screens are better
    </div>
    <div class="panel-body">
      <p>At the moment eConvenor only works properly on computers, or on newer tablets.</p.>
      <p>You can still access eConvenor on your phone or older tablet, but things won't appear in the right places on the screen, so be warned!</p>
    </div>
  </div>

  <div class="panel panel-default panel-welcome">
    <div class="panel-heading">
      <i class="fa fa-flag fa-fw"></i>&nbsp;
      Please give us feedback
    </div>
    <div class="panel-body">
      <p>eConvenor is currently in beta release. This means that we're adding features and fixing bugs all the time.</p>
      <p>If something doesn't work the way you think it should, or if there is something you'd like eConvenor to do that it doesn't do, let us know! Click on the "Feedback" menu at the top right corner of the screen.</p>
    </div>
  </div>
</div>

<div class="col-sm-6">
  <div class="panel panel-primary panel-welcome">
    <div class="panel-heading">
      <i class="fa fa-flash fa-fw"></i>&nbsp;
      Quick-start guide
    </div>
    <div class="panel-body">
      <p><strong>Step 1:&nbsp; Add participants</strong></p>
      <p>eConvenor refers to people involved in your group as "participants".</p>
      <p>Add your group's participants by going to <i>Participants > New participant</i>.</p>
      <p><strong>Step 2:&nbsp; Create an agenda for your next meeting</strong></p>
      <p>Set up and distribute an agenda for your next meeting by going to <i>Meetings > New meeting</i> and following the prompts.</p>
      <p>Give each agenda item a time limit and eConvenor will calculate your meeting's end time.</p>
      <p><strong>Step 3:&nbsp; Minute your next meeting</strong></p>
      <p>Save time by minuting your next meeting with eConvenor during the meeting.</p>
      <p>Go to <i>Meetings > Current meetings</i> and click the <i>Work on minutes</i> button belonging to the meeting.</p>
      <p>When you make a decision, click the <i>Add decision</i> button. When you assign a task to someone, click the <i>Add task</i> button.</p>
      <p><strong>Step 4:&nbsp; Coordinate your group's tasks</strong></p>
      <p>Go to <i>Tasks > Manage tasks</i> to see and manage the tasks assigned to your group's participants.</p>
      <p>Assign a new task to someone at any time by going to <i>Tasks > New task</i>.</p>
      <p><strong>Step 5:&nbsp; Repeat</strong></p>
      <p>That's all there is to it! Now just repeat steps 2, 3 and 4 for each meeting.</p>
      <p>For more details, see the <i>User guide</i> under the <i>Help</i> menu.</p>
    </div>
  </div>
</div>
{% endblock %}
