{% extends "app_base.html" %}
{% load setclass %}


{% block content %}

<div class="page-header">
  <h1>{{ page_heading }}</h1>
</div>

<div class="col-lg-6">
  <div class="well"> 
    <form role="form" id="addtaskform" action="" method="POST">
    {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}
          {% ifequal field.label "Deadline" %}
            <br>
            {{ field|setclass:"form-control datepicker" }}
          {% else %}
            {{ field|setclass:"form-control" }}
            {{ field.errors }}
          {% endifequal %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Add task</button>
      <a href={% url 'task-list' %} type="button" class="btn btn-default" >
        Cancel
      </a>
    </form>
  </div>
</div>

{% endblock content %}


{% block extrajs %}

<script>
  $(document).ready(function() {
    $("#addtaskform").validate({
      rules: {
        description: {
          required: true,
          maxlength: 200,
        },
        participant: "required",
        deadline: {
          required: true,
          date: true,
        },
      },
      messages: {
        description: {
          required: "Please enter a description of the task",
        },
        participant: "Please select the person responsible for the task",
        deadline: {
          required: "Please enter a deadline for the task",
          date: "Please select a valid date from the calendar",
        },
      },
    });
  })
</script>

{% endblock extrajs %}
