{% extends "app_base.html" %}
{% load setclass %}

{% block content %}

<div class="col-sm-10 col-md-8 col-lg-6 no-toolbar">
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-plus-circle fa-fw fa-lg"></i>&nbsp;
      Add new task
    </div>
    <div class="panel-body">
      <form role="form" id="addtaskform" action="" method="POST">
      {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
          </div>
        {% endfor %}
        <div class="pull-right">
          <a href={% url 'task-list' %} type="button" class="btn btn-default" >
            <i class="fa fa-minus-circle fa-lg"></i>&nbsp;
            Cancel
          </a>
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-check-circle fa-lg"></i>&nbsp;
            Save task
          </button>
        </div>
      </form>
    </div><!-- /.panel-body -->
  </div><!-- /.panel -->
</div><!-- /.col -->

{% endblock content %}

{% block extrajs %}

<script>

  $(document).ready(function() {
    $("#addtaskform").validate({
      rules: {
        description: "required",
        participant: "required",
        deadline: {
          required: true,
          date: true,
        },
      },
      messages: {
        description: "Please enter a description of the task",
        participant: "Please select the person responsible for the task",
        deadline: {
          required: "Please select a deadline for the task",
          date: "Please select a valid date from the calendar",
        },
      },
    });
  })

</script>

{% endblock extrajs %}
