/* FONTS
-------------------------------------------------- */

@font-face {
    font-family: 'Body';
    src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-regular-webfont.svg#Body') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heading';
    src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-regular-webfont.svg#Body') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* TEXT STYLES
-------------------------------------------------- */

h1,
h2 {
  font-family: 'Heading', Helvetica, Arial, sans-serif;
  line-height: 1.1;
}

a,
a:hover,
a:focus {
  color: #ff0066;
}

label.error {
  margin-top: 6px;
  color: #ff0066;
  border-color: #ff0066;
  font-weight: normal;
}

.error-container {
  margin-top: 10px;
}

.error-container .error {
  margin-top: 0px;
  margin-bottom: 0px;  
}

.errorlist > li {
  margin-top: 6px;
  margin-left: -40px;
  list-style-type: none;
  color: #ff0066;
}

.feature-text {
  color: #aaaaaa;
  font-size: 60px;
  font-weight: bold;
}

.minutes-field-extra .characterCounterDisplay {
  margin-top: -20px;
}

.characterCounterDisplay p {
  margin-bottom: 0px;
  color: #777777;
}

.characterCounterDisplay.red p {
  color: #ff0066;
}

.red {
  color: #ff0066;
}


/* BODY
-------------------------------------------------- */

body {
  font-family: 'Body', Helvetica, Arial, sans-serif;
  color: #000000;
  padding-top: 50px;
  background-image: url('/static/images/texture.png');
  min-width: 993px;
}


/* NAVIGATION - GENERAL
-------------------------------------------------- */

.nav {
  text-shadow: 0 0 0;
  background-color: #333333;
  border: 0px;
  
}


/* NAVIGATION - NAVBAR
-------------------------------------------------- */

.nav .navbar-collapse {
  border-color: #333333;
}

.nav .navbar-brand {
  color: #bbbbbb;
  padding: 14px 0 13px 17px;
}

.nav .navbar-toggle {
  border-color: #333333;
}

.nav .navbar-toggle:hover {
  border-color: #bbbbbb;
}

.nav .navbar-nav > li > a {
  color: #bbbbbb;
}

.nav .navbar-nav > li > a:hover,
.nav .navbar-nav > li > a:focus {
  background-color: #333333;
  color: #ffffff;
}

.nav .navbar-nav .open > a,
.nav .navbar-nav .open > a:hover,
.nav .navbar-nav .open > a:focus {
  color: #ffffff;
  background-color: #ff0066;
  border-color: #ff0066;
}

.nav .navbar-nav > .active > a,
.nav .navbar-nav > .active > a:hover {
  color: #ffffff;
  background-color: #ff0066;
}

/* NAVIGATION - SIDEBAR
-------------------------------------------------- */

.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #333333;
}

/* Parent level */

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar a {
  color: #bbbbbb;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #ff0066;
}

.nav-sidebar > .active > a {
  color: #ffffff;
  background-color: #ff0066;
}

/* Child level */

.nav-sidebar .nav-second-level li {
  text-decoration: none;
  background-color: #555555;
}

.nav-sidebar .nav-second-level li a {
    padding-left: 37px;
}

.nav-sidebar .nav-second-level li a:hover,
.nav-sidebar .nav-second-level li a:focus {
  text-decoration: none;
  background-color: #444444;
  color: #ffffff; 
}

.nav-sidebar .nav-second-level .active a {
  color: #ffffff;
  background-color: #555555;
}


/* NAVIGATION - TOOLBAR
-------------------------------------------------- */

.toolbar {
    position: fixed;
    top: 90px;
    max-height:80%;
    right: 40px;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
  }

.nav-toolbar {
  margin: 0px -20px 0px -20px;
  background-color: #555555;
}

.nav-toolbar .toolbar-heading {
  color: #ffffff;
  background-color: #ff0066;
  padding: 13px 20px 12px 20px;
}

.nav-toolbar h1,
.nav-toolbar h2  {
  margin: 0 0 0 0;
  font-size: 1em;
}

.nav-toolbar .toolbar-subheading {
  color: #bbbbbb;
  background-color: #333333;
  padding: 13px 20px 12px 20px;
}

.nav-toolbar a {
  color: #bbbbbb;
}

.nav-toolbar > li > a {
  padding-right: 20px;
  padding-left: 37px;
}

.nav-toolbar > li > a:hover,
.nav-toolbar > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #444444;
}

.nav-toolbar li.active button {
  color: #ffffff;
  background-color: #555555;
}

.btn-toolbar,
.btn-toolbar:focus,
.nav-toolbar > li > a.btn-toolbar,
.nav-toolbar > li > a.btn-toolbar:focus {
  display: block;
  width: 100%;
  text-align: left;
  border: 0px;
  padding: 10px 25px 10px 42px;
  color: #bbbbbb;
  background-color: #555555;
}

.btn-toolbar:hover,
.nav-toolbar > li > a.btn-toolbar:hover {
  color: #ffffff;
  background-color: #ff0066;
}


/* BUTTONS
-------------------------------------------------- */

.btn {
  border-radius: 0px;
}

.btn + .btn {
  margin-left: 5px;
}

/* Primary button */

.btn-primary {
  color: #ffffff;
  background-color: #ff0066; 
  border-color: #ff0066;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffb8d4;
  background-color: #ff0066;
  border-color: #ff0066;
}

/* Default button */

.btn-default {
  color: #ffffff;
  background-color: #555555;
  border-color: #555555;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #bbbbbb;
  background-color: #555555;
  border-color: #555555;
}

.btn-item-delete {
  margin: -6px -13px 0px 0px;
}

.btn-tips {
  background-color: #dddddd;
  color: #555555;
  border: 0px;
  padding: 0 0 6px 0;
}

.btn-tips + .btn-tips {
  margin-left: 3px;
}
.btn-tips:hover,
.btn-tips:focus {
  background-color: #dddddd;
  color: #777777;
}

/* WELLS
-------------------------------------------------- */

.well {
  background-color: #bbbbbb;
  border: 0px;
  border-radius: 0px;
}

#dashboard-header {
  font-size: 1em;
  text-align: center;  
  background-color: #555555;
  height: 40px;
  margin: 0px -15px 30px -15px;
  border: 0px;
  border-radius: 0px;
}

#dashboard-header h1 {
  color: #bbbbbb;
  font-size: 18px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.form-group .well {
  background-color: #dddddd;
  border: 1px solid #999999;
}
 
/* PANELS
-------------------------------------------------- */

.panel {
  border-radius: 0px;
  margin-bottom: 30px;
}

.panel-heading {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.panel-body {
  background-color: #bbbbbb;
}

.panel-footer {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #ffffff;
  padding: 15px 15px 15px 15px;
}

.panel-primary {
  border-color: #555555;
  border: 0px;
}

.panel-primary .panel-heading {
  color: #ffffff;
  background-color: #ff0066;
  border: 0px;
}

.panel-default {
  border-color: #555555;
  border: 0px solid #555555;
}

.panel-default .panel-heading {
  color: #ffffff;
  background-color: #555555;
  border: 0px solid #555555;
}

.panel-dashboard .panel-body {
  background-color: #ffffff;
  height: 160px;
  overflow-y: auto;
}

.panel-welcome .panel-body {
  background-color: #ffffff;
  max-height: 510px;
  overflow-y: auto;
}

.panel-help .panel-body {
  background-color: #ffffff;
}

.panel-help {
  margin: 0 0 0 0;
}

.panel-body-light {
  background-color: #ffffff;
}


/* TABLES
-------------------------------------------------- */

/* Set colors for tables by themselves */

.table > thead > tr > th {
  color: #555555;
  font-weight: normal;
  vertical-align: bottom;
  border-bottom: 1px solid #555555;
}

.table > thead {
  background-color: #555555;
}

/* Set column widths and text alignment for tables in management views */

#table_manage_tasks td:nth-child(0n+3) {
  width: 120px;
}

#table_manage_tasks td:nth-child(0n+2) {
  min-width: 110px;
}

#table_manage_decisions td:first-child {
  text-align: center;
  width: 90px;
}

#table_manage_decisions td:nth-child(0n+2) {
  text-align: center;
  width: 70px;
}

#table_manage_participants td:nth-child(0n+3) {
  text-align: center;
  width: 150px;
}

#view_participant_details td:first-child {
  background-color: #aaaaaa;
  width: 150px;
}

#view_participant_tasks td:nth-child(0n+2) {
  width: 100px;
}

.table-account td:first-child {
  background-color: #aaaaaa;
  width: 150px;
}


/* Set row height for current and archived meetings tables */

#table_current_meetings td:first-child,
#table_archived_meetings td:first-child,
#table_current_meetings td:nth-child(0n+2),
#table_archived_meetings td:nth-child(0n+2),
#table_current_meetings td:nth-child(0n+3),
#table_archived_meetings td:nth-child(0n+3),
#table_current_meetings td:nth-child(0n+4) {
  padding-top: 15px;
  padding-bottom: 0px;
}

/* Set colors for tables in panels */

.panel .table > thead > tr > th {
  font-weight: normal;
  vertical-align: bottom;
  border-bottom: 1px solid #aaaaaa;
}

.panel .table > thead {
  background-color: #aaaaaa;
}

/* Set up meeting tables on dashboard */

.table-dashboard {
  height: 160px;
  overflow: auto;
}

.dashboard-meeting-table {
  height: 160px;
}

.dashboard-meeting-table td:first-child {
  background-color: #aaaaaa;
  width: 120px;
}

.admin-dashboard-meeting-table td:first-child {
  background-color: #aaaaaa;
  width: 170px;
}

/* Set up task tables on dashboard */

.task-table {
  margin-bottom: 0;
}

.task-table td:nth-child(0n+2) {
  width: 110px;
}

.task-table tr:last-child td {
  border-bottom: 1px solid #dddddd;
}

/* Control cursor for tables */

tbody tr:hover {
  cursor: pointer;
}

.dashboard-meeting-table tbody tr:hover,
.cursor-default tbody tr:hover,
#table_archived_meetings tbody tr:hover,
#table_current_meetings tbody tr:hover {
  cursor: default;
}


/* FORMS
-------------------------------------------------- */

.form-control {
  height: 32px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #999999;
  border-radius: 0px;
}

.form-control:focus {
  border-color: #ff0066;
  outline: 0;
  -webkit-box-shadow: inset 0 0 0 rgba(255,0,102,0), 0 0 0 rgba(255, , 102, .4);
          box-shadow: inset 0 0 0 rgba(255,0,102,0), 0 0 0 rgba(255, 0, 102, .4);
}

.form-group > label {
  font-weight: normal;
}

.field-short {
  width: 33%;
}

.field-medium {
  width: 50%;
}

.form-inline .form-control.description-field {
  width: 62%;
}

.form-inline .form-control.participant-field {
  width: 22%;
}
.form-inline .form-control.deadline-field {
  width: 15%;
}

.minutes-field-extra .form-group,
.minutes-field-extra .form-inline {
  margin-bottom: 5px;
}

.checkbox {
  margin-left: 0px;
  padding-left: 0px;
}

.checkbox input[type="checkbox"] {
  margin-left: 0px;
}


/* SPACING
-------------------------------------------------- */

.with-toolbar {
  padding-top: 40px;
}

.no-toolbar {
  padding-top: 40px;
}

@media (min-width: 768px) {
  .with-toolbar {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 500px
  }
}


/* MODALS
-------------------------------------------------- */

.modal-content {
  border-radius: 0px;
}

.modal-header {
  color: #ffffff;
  background-color: #ff0066;
  border-bottom: 1px solid #ff0066;
}

.modal-body {
  color: #555555;
  background-color: #aaaaaa;
}

.modal-footer {
  background-color: #ffffff;
  border-top: 1px solid #ffffff;
  margin-top: 0px;
}

/* DATEPICKER
-------------------------------------------------- */

#ui-datepicker-div {
  z-index: 1010 !important;
}

/* NOSCRIPT
-------------------------------------------------- */

#noscript-message {
  position:fixed;
  top:45%;
  left:25%;
  width:50%;
  z-index:10000;
  text-align:center;
  color:#ffffff;
  background-color:#ff0066;
  padding: 20px 0 10px 0;
}

#noscript-cover {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 9999;
background-color: #000000;
opacity: 0.80;
}

/* TIPS
-------------------------------------------------- */

.tip-box {
  position: absolute;
  left:20px;
  bottom:20px;
  right:20px;
  height:20%;
}

.tip-box .panel-heading {
  color: #aaaaaa;
}

.tip-box .panel-body {
  color: #333333;
  background-color: #dddddd;
}

