/* FONTS
-------------------------------------------------- */

@font-face {
    font-family: 'Body';
    src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-regular-webfont.svg#Body') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heading';
    src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-regular-webfont.svg#Body') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* BODY
-------------------------------------------------- */

body {
  font-family: 'Body', Helvetica, Arial, sans-serif;
  padding-top: 40px;
  background-image: url('/static/images/texture.png');
}


/* NAVIGATION - GENERAL
-------------------------------------------------- */

.nav {
  text-shadow: 0 0 0;
  background-color: #333333;
  border-color: #333333;
}


/* NAVIGATION - NAVBAR
-------------------------------------------------- */

.nav .navbar-collapse {
  border-color: #333333;
}

.nav .navbar-brand {
  color: #cccccc;
}

.nav .navbar-toggle {
  border-color: #333333;
}

.nav .navbar-toggle:hover {
  border-color: #cccccc;
}

.nav .navbar-nav > li > a {
  color: #cccccc;
}

.nav .navbar-nav > li > a:hover,
.nav .navbar-nav > li > a:focus {
  background-color: #333333;
  color: #ffffff;
}

.nav .navbar-nav .open > a,
.nav .navbar-nav .open > a:hover,
.nav .navbar-nav .open > a:focus {
  color: #ffffff;
  background-color: #ff0066;
  border-color: #ff0066;
}

.nav .navbar-nav > .active > a,
.nav .navbar-nav > .active > a:hover {
  color: #ffffff;
  background-color: #ff0066;
}


/*
 * Sidebar
 */

/* Hide for mobile */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #333333;
  }
}


/*
 * Toolbar
 */
 
.toolbar {
  position: fixed; 
  top: 90px;
  right: 50px;
}


/* Sidebar navigation */



.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  text-decoration: none;
  background-color: #ff0066;
}


.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar :hover {
  background-color: #ffffff;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #ffffff;
  background-color: #ff0066;
}

.nav-second-level > li {
  text-decoration: none;
  background-color: #555555;
}

.nav-second-level > li > a:hover,
.nav-second-level > li > a:focus {
  text-decoration: none;
  background-color: #444444;
  color: #ffffff; 
}


.nav-second-level .active > a {
  color: #ffffff;
  background-color: #444444;
}

.nav-sidebar a {
  color: #bbbbbb;
}

.nav-second-level li a {
    padding-left: 37px;
}



/*
 * Button - primary
 *
 * Adjust colours.
*/

.btn {
  border-radius: 0px;
}

.btn-primary {
  color: #cccccc;
  background-color: #ff0066; 
  border-color: #ff0066;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #dd0044;
  border-color: #dd0044;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #7251A4;
  border-color: #563d7c;
}



/*
 * Button - default
 *
 * Adjust colours.
*/
.btn-default {
  color: #333333;
  background-color: #eeeeee;
  border-color: #333333;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #cccccc;
  border-color: #999999;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #eeeeee;
  border-color: #cccccc;
}



/*
 * Well
 *
 * Adjust colour.
*/

.well {
  background-color: #aaaaaa;
  border: 0px solid #e3e3e3;
  border-radius: 0px;
 }
 
 
 
 /*
 * Panel - primary
 *
 * Adjust colours.
*/

.panel {
  border-radius: 0px;
}

.panel-heading {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}


.panel-footer {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

 .panel-primary {
  border-color: #333333;
  border: 2px solid #333333;
}

.panel-primary > .panel-heading {
  color: #eeeeee;
  background-color: #333333;
  border-color: #333333;
}

.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #333333;
}

.panel-primary > .panel-heading > .dropdown .caret {
  border-color: #eeeeee transparent;
}

.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #333333;
}


/*
 * Heading text
 *
 * Change font.
*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Heading', Helvetica, Arial, sans-serif;
  line-height: 1.1;
  color: #ff0066;
}


/*
 * Table
 */

/* Adjust colours */

th {
  color: #333333
}

thead {
  background-color: #aaaaaa;
}

/* Set cursor to pointer */

tbody tr:hover {
  cursor: pointer;
}

#meeting_list tbody tr:hover {
  cursor: default;
}

/*
 * Spacers
 */

.top-spacer {
  height: 30px;
}

.bottom-spacer {
  height: 200px;
}


/*
 * Error text
 */

.error {
  color: #ff0066;
  border-color: #ff0066;
}


/*
 * Forms
 */

.form-control {
  height: 30px;
  border: 1px solid #333333;
  border-radius: 0px;
}

.form-control:focus {
  border-color: #ff0066;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, , 102, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 0, 102, .6);
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

