{% extends "app_base.html" %}
{% load setclass %}

{% block content %}


<div class="page-header">
	<h1>{{ page_heading }}</h1>
</div>

 
<h1><small>Meeting details</small></h1>

<div class="well">
	<div class="span10"> 
		<form action="" method="POST">
			{% csrf_token %}
			<p class="help-block">Once you save the meeting details you can begin to build the agenda.</p>
   			<br>
			<p><strong>Date:</strong></p>
			<p>{{ meeting_form.date }}</p>
			<p><strong>Start time:</strong></p>
			<p>{{ meeting_form.start_time }}</p>
			<p><strong>Location:</strong> {{ meeting_form.location|setclass:"form-control" }}</p>
			<p><strong>Type of meeting:</strong> {{ meeting_form.description|setclass:"form-control" }}</p>
			<button type="submit" class="btn btn-primary" data-toggle="button">Save meeting details</button></a>
			<a href={% url 'agenda-list' %}><button type="button" class="btn btn-default" data-toggle="button">Cancel</button></a>
		</form>
	</div>
</div>


{% endblock %}
