{% extends "app_base.html" %}

{% block content %}


<div class="page-header">
  <h1>{{ page_heading }}</h1>
</div>

<div class="panel panel-primary">
  <table class="table table-hover" id="meeting_list">
    <thead>
      <tr>
        {% for table_heading in table_headings %}
          <th>
            {{ table_heading }}
          </th>
        {% endfor%}
      </tr>
    </thead>
    <tbody> 
      {% for meeting in meetings %}
        {% with no_of_pdfs=meeting.distributionrecord_set.all|length %}
        <tr>

          <td>
              {% if meeting.date_actual %}
                {{ meeting.date_actual }}
              {% else %}  
                {{ meeting.date_scheduled }}
              {% endif %}  
          </td>

          <td>
            {{ meeting.meeting_no }}
          </td>

          <td>
            {% if no_of_pdfs > 0 %}
              Yes
            {% else %}  
              No
            {% endif %}  
          </td>

          <td>
            {% if no_of_pdfs > 1 %}
              Yes
            {% else %}  
              No
            {% endif %} 
          </td>
          
          {% if no_of_pdfs == 0 %}
            <td>
              <a href="{% url 'agenda-edit' meeting.id %}" type="button"
                class="btn btn-primary">
                  Work on agenda
              </a>
            </td>
          {% elif no_of_pdfs == 1 %}
            <td>
              <a href="{% url 'minutes-edit' meeting.id %}" type="button"
                class="btn btn-primary">
                  Work on minutes
              </a>
            </td>
          {% elif no_of_pdfs == 2 %}           
            <td>
              <form action="" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary"
                  name="button"
                  value="archive_{{ meeting.id }}">
                    Archive this meeting
                </button>
              </form>
            </td>              
          {% endif %}   

          {% if no_of_pdfs == 0 %}
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default">
                  Other actions
                </button>
                <button type="button" class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Delete meeting</a></li>
                </ul>
              </div><!-- /.btn-group -->
            </td>
          {% elif no_of_pdfs == 1 %}
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default">
                  Other actions
                </button>
                <button type="button" class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href={% url 'agenda-view' meeting.id %}>View PDF agenda</a></li>
                  <li class="divider"></li>
                  <li><a href={% url 'agenda-edit' meeting.id %}>Revise agenda</a></li>
                  <li class="divider"></li>
                  <li><a data-toggle="modal" 
              data-target=".modal"
              name="Meeting number: {{ meeting.meeting_no }}"
              id="delete_{{ meeting.id }}">Delete meeting</a></li>
                </ul>
              </div><!-- /.btn-group -->
            </td>
          {% elif no_of_pdfs == 2 %}           
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default">
                  Other actions
                </button>
                <button type="button" class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href={% url 'agenda-view' meeting.id %}>View PDF agenda</a></li>
                  <li><a href={% url 'minutes-view' meeting.id %}>View PDF minutes</a></li>
                  <li class="divider"></li>
                  <li><a href={% url 'agenda-edit' meeting.id %}>Revise agenda</a></li>
                  <li><a href={% url 'minutes-edit' meeting.id %}>Revise minutes</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Delete meeting</a></li>
                </ul>
              </div><!-- /.btn-group -->
            </td>              
          {% endif %}


{% comment %}

          
          <td>
            <button class="btn btn-primary delete-button" data-toggle="modal" 
              data-target=".modal"
              name="Meeting number: {{ meeting.meeting_no }}"
              id="delete_{{ meeting.id }}">
                Delete meeting
            </button>
          </td>

{% endcomment %}
 
        </tr>
        {% endwith %}
      {% empty %}
        <tr>
          <td>There are no meetings yet.</td>
        </tr>
      {% endfor%}
    </tbody>
  </table>
</div>

<a href={% url 'meeting-add' %}><button type="button" class="btn btn-primary">Create a new meeting</button></a>
	
	
{% endblock %}
