{% extends "app_base.html" %}
{% load setclass %}

{% block content %}

<div class="col-sm-10 col-md-8 col-lg-6 no-toolbar">
  <div class="panel panel-default">
    <div class="panel-heading">
	  <i class="fa fa-plus-circle fa-fw fa-lg"></i>&nbsp;
	  Add new meeting
    </div>
    <div class="panel-body">
      <form role="form" id="addmeetingform" action="" method="POST">
      {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
          </div>
        {% endfor %}
        <div class="pull-right">
          <a href={% url 'meeting-list-current' %} type="button" class="btn btn-default" >
            <i class="fa fa-minus-circle fa-lg"></i>&nbsp;
            Cancel
          </a>
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-check-circle fa-lg"></i>&nbsp;
            Save meeting
          </button>
        </div>
      </form>
    </div><!-- /.panel-body -->
  </div><!-- /.panel -->  
</div><!-- /.col -->

{% endblock content %}

{% block extrajs %}

<script>

  $(function() {
    $( "#id_meeting_status" ).parent().hide();
    $( "#id_location_scheduled" ).prev().html('Location (optional)');
  });

  $(function() {
  
    jQuery.validator.addMethod("timeCheck", function(value, element) {
      return this.optional(element) || /^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])$/.test(value);
    },
    "Please select a time from the options available");

    jQuery.validator.addMethod("meetingNumberCheck", function(value, element) {
      return this.optional(element) || /^[a-zA-Z0-9\-\_\/]+$/.test(value);
    },
    "The meeting number can only contain letters, numbers and these characters: '-', '_', '/'");

    $("#addmeetingform").validate({
      rules: {
        meeting_no: {
          required: true,
          meetingNumberCheck: true,
          maxlength: 20,          
        },
        meeting_type: "required",
        date_scheduled: {
          required: true,
          date: true,
        },
        start_time_scheduled: {
          required: true,
          timeCheck: true,
        },
        location_scheduled: {
          maxlength: 100,          
        },
        meeting_status: "required",
        instructions_scheduled: {
          maxlength: 100,          
        },
      },
      messages: {
        meeting_no: {
          required: "Please enter a number or code for this meeting",
        },
        meeting_type: "Please select the type of meeting that this is",
        date_scheduled: {
          required: "Please select a date for the meeting",
          date: "Please select a valid date from the calendar",
        },
        start_time_scheduled: {
          required: "Please chose a start time - you can change it later",
        },
        meeting_status: "Please select the current status of the meeting",
      },
    });
  })

</script>

{% endblock extrajs %}
