{% extends "app_base.html" %}
{% load setclass %}

{% block content %}


<div class="page-header">
	<h1>{{ page_heading }}</h1>
</div>

 

<div class="well">
	<div class="span6"> 
		<form action="" method="POST">
			{% csrf_token %}
			<p><strong>Group name:</strong></p>
			<p>{{ account_form.group_name|setclass:"form-control" }}</p>
			<p>{{ account_date_altered }}</p>
			<p>{{ account_form.owner }}</p>
			<br>
			<button type="submit" class="btn btn-primary" data-toggle="button">Save account details</button></a>
			<a href={% url 'dashboard' %}><button type="button" class="btn btn-default" data-toggle="button">Cancel</button></a>
		</form>
	</div>
</div>


{% endblock %}
