{% extends "setup_base.html" %}
{% load setclass %}
{% load staticfiles %}

{% block content %}

  <h1>Set up your account</h1>
  <div class="col-xs-4 col-xs-offset-4 text-left">
    <form class="setup-form" role="form" method="POST">
      {% csrf_token %}

      <div class="form-group">      
        {{ user_form.username.label_tag }}      
        {{user_form.username|setclass:"form-control" }}
        {{ user_form.username.errors }}
      </div>
      <div class="form-group">      
        {{ user_form.first_name.label_tag }}      
        {{user_form.first_name|setclass:"form-control" }}
        {{ user_form.first_name.errors }}
      </div>
      <div class="form-group">      
        {{ user_form.last_name.label_tag }}      
        {{user_form.last_name|setclass:"form-control" }}
        {{ user_form.last_name.errors }}
      </div>
      <div class="form-group">      
        {{ group_form.name.label_tag }}      
        {{group_form.name|setclass:"form-control" }}
        {{ group_form.name.errors }}
      </div>
      <div class="form-group">      
        {{ group_form.description.label_tag }}      
        {{group_form.description|setclass:"form-control" }}
        {{ group_form.description.errors }}
      </div>
             
      <button type="submit" class="btn btn-primary btn-block">Start using eConvenor</button>
    </form>
  </div>
       
{% endblock %}
