<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" 
          href="{% static 'images/econvenor-favicon-v1.ico' %}">
    <title>eConvener</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui-1.10.4.custom.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'css/jquery.timepicker-1.3.5.css' %}"
          rel="stylesheet">
    <link href="{% static 'css/econvenor.css' %}" rel="stylesheet">
  </head>

  <body>
    
    <div class="nav navbar navbar-fixed-top" role="navigation">

      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={% url 'dashboard' %}>
            eConvenor
          </a>
        </div><!-- /.navbar-header -->

        <div class="collapse navbar-collapse">

          <ul class="nav navbar-nav navbar-right">
            {% ifequal menu.parent 'feedback' %}
              <li class="dropdown active">
            {% else %}
              <li class="dropdown">
            {% endifequal %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-flag fa-fw fa-lg"></i>&nbsp;
                Feedback <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href={% url 'bug-report' %}>
                  <i class="fa fa-bug fa-fw"></i>&nbsp;
                  Report a bug</a></li>
                <li><a href={% url 'bug-list' %}>
                  <i class="fa fa-list-alt fa-fw"></i>&nbsp;
                  View all bug reports</a></li>
                <li class="divider"></li>
                <li><a href={% url 'feature-request' %}>
                  <i class="fa fa-wrench fa-fw"></i>&nbsp;
                  Request a feature/change</a></li>
                <li><a href={% url 'feature-list' %}>
                  <i class="fa fa-list-alt fa-fw"></i>&nbsp;                  
                  View all feature/change requests</a></li>
              </ul>
            </li>
            {% ifequal menu.parent 'help' %}
              <li class="dropdown active">
            {% else %}
              <li class="dropdown">
            {% endifequal %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-info-circle fa-fw fa-lg"></i>&nbsp;
                Help <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href={% url 'quick-start-guide' %}>
                  <i class="fa fa-file-text-o fa-fw"></i>&nbsp;
                  Quick-start guide</a></li>
                <li><a href={% url 'user-guide' %}>
                  <i class="fa fa-file-text-o fa-fw"></i>&nbsp;
                  User guide</a></li>
                <li class="divider"></li>
                <li><a href={% url 'faqs' %}>
                  <i class="fa fa-list-alt fa-fw"></i>&nbsp;                  
                  FAQs</a></li>
                <li><a href={% url 'ask-question' %}>
                  <i class="fa fa-question-circle fa-fw"></i>&nbsp;
                  Ask a question</a></li>
              </ul>
            </li>
            {% ifequal menu.parent 'account' %}
              <li class="dropdown active">
            {% else %}
              <li class="dropdown">
            {% endifequal %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user fa-fw fa-lg"></i>&nbsp;
                Hi, {{ user }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href={% url 'account' %}>
                  <i class="fa fa-gear fa-fw"></i>
                    Account settings</a></li>
                <li class="divider"></li>
                <li><a href={% url 'logout' %}>
                  <i class="fa fa-sign-out fa-fw"></i>
                  Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.collapse   -->
      </div><!-- /.container -->
    </div><!-- /.nav -->
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar" id="leftsidebar">
            {% ifequal menu.parent 'dashboard' %}
              <li class="sidebar-item active">
            {% else %}
              <li class="sidebar-item">
            {% endifequal %}
              <a href={% url 'dashboard' %}>
                <i class="fa fa-tachometer fa-fw fa-lg"></i>&nbsp;
                Dashboard
              </a>
            </li>

            {% ifequal menu.parent 'meetings' %}
              <li class="sidebar-item active">
            {% else %}
              <li class="sidebar-item">
            {% endifequal %}
              <a href="#">
                <i class="fa fa-comments fa-fw fa-lg"></i>&nbsp;
                Meetings
                <i class="fa fa-angle-down pull-right"></i>
              </a>
              <ul class="nav nav-second-level">
                {% ifequal menu.child 'new_meeting' %}
                  <li class="active">
                {% else %}
                  <li>
                {% endifequal %} 
                  <a href={% url 'meeting-add' %}>
                    <i class="fa fa-plus-circle fa-fw"></i>&nbsp;
                      New meeting
                  </a>
                </li>
                {% ifequal menu.child 'current_meetings' %}
                  <li class="active">
                {% else %}
                  <li>
                {% endifequal %} 
                  <a href={% url 'meeting-list-current' %}>
                    <i class="fa fa-pencil fa-fw"></i>&nbsp;
                      Current meetings
                  </a>
                </li>
                {% ifequal menu.child 'archived_meetings' %}
                  <li class="active">
                {% else %}
                  <li>
                {% endifequal %} 
                  <a href={% url 'meeting-list-archive' %}>
                    <i class="fa fa-archive fa-fw"></i>&nbsp;
                      Archived meetings
                  </a>
                </li>
              </ul>
            </li>
      
            {% ifequal menu.parent 'tasks' %}
              <li class="sidebar-item active">
            {% else %}
              <li class="sidebar-item">
            {% endifequal %}
              <a href="#">
                <i class="fa fa-list fa-fw fa-lg"></i>&nbsp;
                Tasks
                <i class="fa fa-angle-down pull-right"></i>
              </a>
              <ul class="nav nav-second-level">
                {% ifequal menu.child 'new_task' %}
                  <li class="active">
                {% else %}
                  <li>
                {% endifequal %} 
                  <a href={% url 'task-add' %}>
                    <i class="fa fa-plus-circle fa-fw"></i>&nbsp;
                      New task
                  </a>
                </li>
                {% ifequal menu.child 'manage_tasks' %}
                  <li class="active">
                {% else %}
                  <li>
                {% endifequal %} 
                  <a href={% url 'task-list' %}>
                    <i class="fa fa-check-square-o fa-fw"></i>&nbsp;
                      Manage tasks
                  </a>
                </li>
              </ul>
            </li>
                        
            {% ifequal menu.parent 'decisions' %}
              <li class="sidebar-item active">
            {% else %}
              <li class="sidebar-item">
            {% endifequal %}
              <a href="#">
                <i class="fa fa-star fa-fw fa-lg"></i>&nbsp;
                Decisions
                <i class="fa fa-angle-down pull-right"></i>
              </a>
              <ul class="nav nav-second-level">
                {% ifequal menu.child 'view_decisions' %}
                  <li class="active">
                {% else %}
                  <li>
                {% endifequal %} 
                  <a href={% url 'decision-list' %}>
                    <i class="fa fa-th fa-fw"></i>&nbsp;
                      View decisions
                  </a>
                </li>
              </ul>
            </li>                                

            {% ifequal menu.parent 'participants' %}
              <li class="sidebar-item active">
            {% else %}
              <li class="sidebar-item">
            {% endifequal %}
              <a href="#">
                <i class="fa fa-users fa-fw fa-lg"></i>&nbsp;
                Participants
                <i class="fa fa-angle-down pull-right"></i>
              </a>
              <ul class="nav nav-second-level">
                {% ifequal menu.child 'new_participant' %}
                  <li class="active">
                {% else %}
                  <li>
                {% endifequal %} 
                  <a href={% url 'participant-add' %}>
                    <i class="fa fa-plus-circle fa-fw"></i>&nbsp;
                      New participant
                  </a>
                </li>
                {% ifequal menu.child 'manage_participants' %}
                  <li class="active">
                {% else %}
                  <li>
                {% endifequal %} 
                  <a href={% url 'participant-list' %}>
                    <i class="fa fa-pencil fa-fw"></i>&nbsp;
                      Manage participants
                  </a>
                </li>
              </ul>
            </li>
                                
          </ul>
        </div><!-- /.sidebar -->

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 content"
             id="content-wrapper">
          {% block content %}
          {% endblock content %}
        </div><!-- /.content -->

      </div><!-- /.row -->
        

      <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" 
           aria-labelledby="DeleteConfirmation" aria-hidden="true" 
           aria-describedby="A pop-up to confirm deletion">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">
                <i class="fa fa-times-circle fa-lg"></i>&nbsp;
                Confirm deletion
              </h4>
            </div><!-- /.modal-header -->
            <div class="modal-body">
            </div><!-- /.modal-body -->
            <div class="modal-footer">
              <form action="" method="POST">
                {% csrf_token %} 
                <button type="button" class="btn btn-default" 
                        data-dismiss="modal">
                  No, cancel
                </button>
                <button type="submit" class="btn btn-primary modal-button"
                        name="button">
                  Yes, delete
                </button>
              </form>
            </div><!-- /.modal-footer -->
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->        

    </div><!-- /.container-fluid -->

    <noscript>
      <div id="noscript-message">
        <p>Your browser does not appear to have JavaScript enabled.</p>
        <p>Please enable Javascript or eConvenor will not work.</p>
      </div>
      <div id="noscript-cover">
      </div>
    </noscript>

    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script> 
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>
    <script src="{% static 'js/jquery.timepicker-1.3.5.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/econvenor.js' %}"></script>
    
    {% block extrajs %}
    {% endblock extrajs %}

  </body>
</html>
