{% extends "base.html" %}


{% block content %}


<div class="page-header">
	<h1>Test data for debugging</h1>
</div>
      
      
<div class="span10">

	<p>Data object 1: {{ data_1 }}</p>
	<p>Data object 2: {{ data_2 }}</p>
	<p>Data object 3: {{ data_3 }}</p>
	<p>Data object 4: {{ data_4 }}</p>
	{% comment %}
	<p>Data object 5: {{ data_5 }}</p>
	<p>Data object 6: {{ data_6 }}</p>
	<p>Data object 7: {{ data_7 }}</p>
	<p>Data object 8: {{ data_8 }}</p>
	{% endcomment %}

</div>

		
{% endblock %}
