<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		
		<link rel="shortcut icon" href="{% static 'images/econvenor-favicon-v1.ico' %}">

		<title>eConvener</title>

		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/econvenor.css' %}" rel="stylesheet">
		<link href="{% static 'css/jqueryui-1.10.3.smoothness.css' %}" rel="stylesheet">
	</head>

	<body>

		<div class="nav navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">eConvener</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href={% url 'dashboard' %}><strong>Dashboard</strong></a></li>
						<li><a href={% url 'task-list' %}>Tasks</a></li>
						<li><a href={% url 'decision-list' %}>Decisions</a></li>
						<li><a href={% url 'participant-list' %}>Participants</a></li>
						<li><a href={% url 'agenda-list' %}>Agendas</a></li>
						<li><a href={% url 'minutes-list' %}>Minutes</a></li>
					</ul>
					
					<ul class="nav navbar-nav navbar-right">
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Feedback <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href={% url 'bug-report' %}><strong>Report a bug</strong></a></li>
								<li><a href={% url 'bug-list' %}>View all bug reports</a></li>
								<li class="divider"></li>
								<li><a href={% url 'feature-request' %}><strong>Request a feature/change</strong></a></li>
								<li><a href={% url 'feature-list' %}>View all feature/change requests</a></li>
							</ul>
						</li>
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href={% url 'user-guide' %}><strong>User guide</strong></a></li>
								<li class="divider"></li>
								<li><a href={% url 'faqs' %}><strong>FAQs</strong></a></li>
								<li><a href={% url 'ask-question' %}>Ask a question</a></li>
							</ul>
						</li>
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi, {{ user }} <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href={% url 'account-settings' %}>Account settings</a></li>
								<li class="divider"></li>
								<li><a href={% url 'logout' %}><strong>Log out</strong></a></li>
							</ul>
						</li>
      				</ul>
      			</div>
			</div>
		</div>
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div><!-- ./container -->
		
		<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script> 
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jqueryui-1.10.3.core.js' %}"></script>
		<script src="{% static 'js/jqueryui-1.10.3.datepicker.js' %}"></script>
						
		<script type="text/javascript">
		var bootstrapButton = $.fn.button.noConflict()
		$.fn.bootstrapBtn = bootstrapButton 
		</script>
		
		<script type="text/javascript">
    		$(function() {
        		$('.datepicker').datepicker({ dateFormat: "yy-mm-dd" });
   			});
		</script>

		<script type="text/javascript">
            $(function() {
                $('ul li a').bind('click',function(event){
                    var $anchor = $(this);
                    $('html, body').stop().animate({
                        scrollTop: $($anchor.attr('href')).offset().top-80
                    }, 1000);
                    event.preventDefault();
                });
            });
		</script>

	</body>
</html>

