{% extends "app_base.html" %}

{% block content %}


<div class="well-sm" id="dashboard-header">
  <h1>{{ group.name }}</h1>
</div>

<div class="col-sm-6">
  <div class="panel panel-primary panel-dashboard">
    <a href={% url 'task-list' %}>
      <div class="panel-heading">
	    <i class="fa fa-list fa-fw"></i>&nbsp;
	    Most overdue tasks
	    <i class="fa fa-arrow-circle-right pull-right"></i>
      </div>
      </a>
      {% if top_overdue_tasks %}
      <div class="table-dashboard">
      <table class="table table-hover task-table">
        <thead>
          <tr>
            {% for heading in task_headings %}
              <th>{{ heading }}</th>
            {% endfor%}
          </tr>
        </thead>
        <tbody> 
          {% for task in top_overdue_tasks %}
            <tr id={{ task.id }} 
              onclick="document.location='{% url 'task-edit' task.id %}';">
              <td>{{ task.description }}</td>
              <td>{{ task.deadline }}</td>
            </tr>
          {% endfor%}
        </tbody>
      </table>
      </div>
      {% else %}
      <div class="panel-body text-center">
        <br/><br/>
        <p>There are no tasks overdue.</p>
        <p>Nice work!</p>
      </div>
      {% endif%}
  </div>  
</div>

<div class="col-sm-6">
  <div class="panel panel-default panel-dashboard">
    <a href={% url 'meeting-list-current' %}>
      <div class="panel-heading">
	    <i class="fa fa-comments fa-fw"></i>&nbsp;
	    Last meeting
	    <i class="fa fa-arrow-circle-right pull-right"></i>
      </div>
    </a>
    {% if last_meeting %}
      <table class="table dashboard-meeting-table"> 
        <tbody>
          <tr>
            <td>Number</td>
            <td>{{ last_meeting.meeting_no }}</td>
          </tr>
          <tr>
            <td>Date</td>
            {% if last_meeting.date_actual %}
              <td>{{ last_meeting.date_actual }}</td>      
            {% else %}
              <td>{{ last_meeting.date_scheduled }}</td>
            {% endif %}
          </tr>
          <tr>
            <td>Type</td>
            <td>{{ last_meeting.meeting_type }}</td>
          </tr>
          <tr>
            <td>Minutes</td>
            {% if last_meeting.current_minutes_version %}
              <td>Sent</td>
            {% else %}
              <td>Not yet sent out</td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    {% else %}
      <div class="panel-body text-center">
        <br/><br/>
          This box will be empty until eConvenor has more data.
        </p>
      </div>
    {% endif%}
  </div>  
</div>

<div class="col-sm-6">
  <div class="panel panel-primary panel-dashboard">
    <a href={% url 'meeting-list-current' %}>
      <div class="panel-heading">
	    <i class="fa fa-comments fa-fw"></i>&nbsp;
        Next meeting
	    <i class="fa fa-arrow-circle-right pull-right"></i>
      </div>
    </a>
    {% if next_meeting %}
      <table class="table dashboard-meeting-table"> 
         <tr>
           <td>Number</td>
           <td>{{ next_meeting.meeting_no }}</td>
         </tr>
         <tr>
           <td>Date</td>
           <td>{{ next_meeting.date_scheduled }} at {{ next_meeting.start_time_scheduled }}</td>
         </tr>
         <tr>
           <td>Type</td>
           <td>{{ next_meeting.meeting_type }}</td>
         </tr>
         <tr>
           <td>Agenda</td>
           {% if next_meeting.current_agenda_version %}
             <td>Sent</td>
           {% else %}
             <td>Not yet sent out</td>
           {% endif %}
          </tr>
      </table>
    {% else %}
      <div class="panel-body text-center">
        <br/><br/>
          This box is empty because there are no meetings scheduled.
        <p/>
      </div>
    {% endif%}
  </div>  
</div>  

<div class="col-sm-6">
  <div class="panel panel-default panel-dashboard">
    <a href={% url 'task-list' %}>
      <div class="panel-heading">
	    <i class="fa fa-list fa-fw"></i>&nbsp;
	    Tasks due soon
	    <i class="fa fa-arrow-circle-right pull-right"></i>
      </div>
    </a>
    {% if top_pending_tasks %}
    <div class="table-dashboard">
      <table class="table table-hover task-table">
        <thead>
          <tr>
            {% for heading in task_headings %}
              <th>{{ heading }}</th>
            {% endfor%}
          </tr>
        </thead>
        <tbody> 
          {% for task in top_pending_tasks %}
            <tr id={{ task.id }} 
                onclick="document.location='{% url 'task-edit' task.id %}';">
              <td>{{ task.description }}</td>
              <td>{{ task.deadline }}</td>
            </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>
    {% else %}
      <div class="panel-body text-center">
        <br/><br/>
        <p>There are no tasks due soon.</p>
      </div>
    {% endif%}
  </div>  
</div>

<div class="col-sm-6">
  <div class="panel panel-default panel-dashboard">
    <div class="panel-heading">
	  <i class="fa fa-exclamation-triangle fa-fw"></i>&nbsp;
	  Recent eConvenor updates
    </div>
    <div class="table-dashboard">
      <table class="table task-table">
        <thead>
          <tr>
            <th>Description of update</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody> 
          <tr>
            <td>Added meeting summaries and nice formatting to agenda/minutes covering emails.</td>
            <td>04 Jun 2014</td>
          </tr>
          <tr>
            <td>Added a context-specific tips box to the bottom left corner of most pages.</td>
            <td>29 May 2014</td>
          </tr>
          <tr>
            <td>Improved the <i>Quick-start guide</i> and <i>FAQs</i>.</td>
            <td>26 May 2014</td>
          </tr>
          <tr>
            <td>Added the <i>FAQs</i> section.</td>
            <td>22 May 2014</td>
          </tr>
          <tr>
            <td>Summaries of overdue, incomplete and recently completed tasks can now be added to minutes. Look for the check box in the "Meeting details" panel of the minutes editing view to activiate this feature.</td>
            <td>21 May 2014</td>
          </tr>
          <tr>
            <td>The format of task reminder emails has been overhauled to make them look much nicer.</td>
            <td>21 May 2014</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>  
</div>

<div class="col-sm-6">
  <div class="panel panel-default panel-dashboard">
    <div class="panel-heading">
	  <i class="fa fa-calendar fa-fw"></i>&nbsp;
	  Features coming to eConvenor soon
    </div>
    <div class="table-dashboard">
      <table class="table task-table">
        <thead>
          <tr>
            <th>Feature</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody> 
          <tr>
            <td>Redesign the eConvenor website (what you see before you log in).</td>
            <td>Mid June</td>
          </tr>
          <tr>
            <td>Allow the creation of reusable, customisable agenda templates.</td>
            <td>Mid June</td>
          </tr>
          <tr>
            <td>Allow a message to be added to agenda/minutes covering emails.</td>
            <td>Mid June</td>
          </tr>
          <tr>
            <td>Remove character limit for "notes" text in minutes.</td>
            <td>Mid June</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>  
</div>

{% comment %}
<div class="col-sm-6">
  <div class="panel panel-default panel-dashboard">
    <div class="panel-heading">
	  <i class="fa fa-calendar fa-fw"></i>&nbsp;
      Time since last meeting<br/>
    </div>
    <div class="panel-body text-center">
      <br/>
      {% if days_since_last_meeting %}
        <span class="feature-text">
          {% if days_since_last_meeting == 1 %}
            1 day
          {% elif days_since_last_meeting != 1 %}
            {{ days_since_last_meeting }} days
          {% endif %}
        </span>
      {% else %}
        <br/>
        <p>This box will be empty until eConvenor has more data.<p/>
      {% endif %}    
    </div>
  </div>  
</div>
{% endcomment %}

{% endblock %}
