{% extends "app_base.html" %}

{% block content %}

<div class="well-sm" id="dashboard-header">
  <h1>Superuser</h1>
</div>

<div class="col-sm-6">
  <div class="panel panel-primary panel-dashboard">
    <div class="panel-heading">
	  <i class="fa fa-bug fa-fw"></i>&nbsp;
	  Number of open bug reports
    </div>
    <div class="panel-body text-center">
      <br/>
      <span class="feature-text">
        {% if no_of_open_bug_reports %}
          {{ no_of_open_bug_reports }}
        {% else %}
          0
        {% endif %}
	    <i class="fa fa-bug fa-fw"></i>&nbsp;
      </span>
    </div>
  </div>  
</div>

<div class="col-sm-6">
  <div class="panel panel-default panel-dashboard">
    <div class="panel-heading">
	  <i class="fa fa-wrench fa-fw"></i>&nbsp;
	  Number of open feature requests
    </div>
    <div class="panel-body text-center">
      <br/>
      <span class="feature-text">
        {% if no_of_open_feature_requests %}
          {{ no_of_open_feature_requests }}
        {% else %}
          0
        {% endif %}
	    <i class="fa fa-wrench fa-fw"></i>&nbsp;
      </span>
    </div>
  </div>  
</div>

<div class="col-sm-6">
  <div class="panel panel-default panel-dashboard">
    <div class="panel-heading">
	  <i class="fa fa-users fa-fw"></i>&nbsp;
      Number of users<br/>
    </div>
    <div class="panel-body text-center">
      <br/>
      <span class="feature-text">
        {{ no_of_users }}
  	    <i class="fa fa-users fa-fw"></i>&nbsp;
      </span>
    </div>
  </div>  
</div>

{% endblock content %}
