{% extends "app_base.html" %}

{% block content %}


<div class="page-header">
  <h1>{{ group.name }}</h1>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      Time since last meeting<br/>
    </div>
    <div class="panel-body">
      {% if days_since_last_meeting %}
        <span class="feature-text">
         {{ days_since_last_meeting }} days<br/><br/>
        </span>
      {% else %}
        <br/><br/>
        <p>This box will be empty until eConvenor has more data.</p>
        <br/><br/>
      {% endif %}    
    </div>
  </div>  
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
	  Last meeting
    </div>
    <div class="panel-body">
      {% if last_meeting %}
        Number: {{ last_meeting.meeting_no }}<br/>
        Date: {{ last_meeting.date_scheduled }}<br/>
        Type: {{ last_meeting.meeting_type }}<br/>
        {% if last_meeting.current_minutes_version %}
          Minutes: Sent<br/>
        {% else %}
          Minutes: Not yet sent out<br/>
        {% endif %}
      {% else %}
        <br/>
        <p>The box will be empty until eConvenor has more data.<p/>
        <br/>
      {% endif%}
    </div>
    <a href={% url 'meeting-list-current' %}>
      <button type="button" class="btn btn-default">
        Go to current meetings
      </button>
    </a>
  </div>  
</div>

<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
	  Next meeting
    </div>
    <div class="panel-body">
      {% if next_meeting %}
        Number: {{ next_meeting.meeting_no }}<br/>
        Date: {{ next_meeting.date_scheduled }}<br/>
        Type: {{ next_meeting.meeting_type }}<br/>
        {% if next_meeting.current_agenda_version %}
          Agenda: Sent<br/>
        {% else %}
          Agenda: Not yet sent out<br/>
        {% endif %}
      {% else %}
        <p>The box will be empty until eConvenor has more data.<p/>
      {% endif%}
    </div>
    <a href={% url 'meeting-list-current' %}>
      <button type="button" class="btn btn-default">
        Go to current meetings
      </button>
    </a>
  </div>  
</div>  

<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
	  Most overdue tasks
    </div>
    {% if top_overdue_tasks %}
    <table class="table table-hover">
      <thead>
        <tr>
          {% for heading in task_headings %}
            <th>{{ heading }}</th>
          {% endfor%}
        </tr>
      </thead>
      <tbody> 
        {% for task in top_overdue_tasks %}
          <tr id={{ task.id }} 
              onclick="document.location='{% url 'task-edit' task.id %}';">
            <td>{{ task.description }}</td>
            <td>{{ task.deadline }}</td>
          </tr>
        {% endfor%}
      </tbody>
    </table>
    {% else %}
      <div class="panel-body">
        <p>There are no overdue tasks at the moment. Good going!<p/>
      </div>
    {% endif%}    
    <a href={% url 'task-list' %}>
      <button type="button" class="btn btn-default">
        Go to tasks
      </button>
    </a>
  </div>  
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
	  Tasks due soon
    </div>
    {% if top_pending_tasks %}
    <table class="table table-hover">
      <thead>
        <tr>
          {% for heading in task_headings %}
            <th>{{ heading }}</th>
          {% endfor%}
        </tr>
      </thead>
      <tbody> 
        {% for task in top_pending_tasks %}
          <tr id={{ task.id }} 
              onclick="document.location='{% url 'task-edit' task.id %}';">
            <td>{{ task.description }}</td>
            <td>{{ task.deadline }}</td>
          </tr>
        {% endfor%}
      </tbody>
    </table>
    {% else %}
      <div class="panel-body">
        <p>There are no tasks due soon. Click 
          the button below to create some!<p/>
      </div>
    {% endif%}
    <a href={% url 'task-list' %}>
      <button type="button" class="btn btn-default">
        Go to tasks
      </button>
    </a>
  </div>  
</div>

<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
	  eConvenor feature updates
    </div>
    <div class="panel-body">
      eConvenor's Beta version goes live on April 2nd!
    </div>
  </div>  
</div>



{% endblock %}
