{% extends "landing_base.html" %}
{% load staticfiles %}

{% block seo %}
  <title>eConvenor  |  Community code of conduct</title>
  <meta name="description" content="eConvenor's community code of conduct.">
{% endblock seo %}

{% block content %}

    <!-- PAGE HEADER
    ================================================== -->
    <div class="jumbotron divider general">
      <div class="container">
        <h1 class="text-center">Community code of conduct</h1>
      </div><!-- /.container -->
    </div> <!-- /.jumbotron -->

    <!-- BODY
    ================================================== -->
    <div class="section general">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h2 class="red">How we treat each other matters</h2>
            <p>We welcome the contributions of people of all genders, cultures, races, colours, ages, sizes, sexualities, classes, and abilities.</p>
            <p>We will work pro-actively to make involvement in the eConvenor development community a welcoming, positive experience for everyone.</p>
            <p>To that end, there are some basic conditions of participation in the eConvenor project:</p>
            <ul class="fa-ul">
              <li>
                <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                Make an effort to be polite and friendly to other members of our community.
              </li>
              <li>
                <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                Be aware that tech groups can be intimidating and unwelcoming for people who aren't straight <a href="https://en.wikipedia.org/wiki/Cisgender" target="_blank">cisgender</a> men, and go out of your way to make sure our community isn't like that.
              </li>
              <li>
                <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                Treat other members of the community with patience and respect, regardless of their level of technical ability. Everyone was a beginner once.
              </li>
              <li>
                <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                Don't raise your voice in frustration or anger. Remove yourself &mdash; take a break &mdash; if you can't control your reaction to a piece of work that's bothering you.
              </li>
              <li>
                <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                Don't talk over anyone. If you must interrupt someone for some reason, that's okay, but do it politely and don't make a habit of it.
              </li>
              <li>
                <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                Say something if you witness inappropriate conduct within our community. Either speak up at the time, or let Keira and Sky know so that they can deal with it.
              </li>
              <li>
                <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                If someone asks you to change your behaviour, or points out a problem with it, take it on board. Listen first, then think, then respond &mdash; avoid reacting without thinking.
              </li>
            </ul>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.section -->

{% endblock content %}
