{% extends "landing_base.html" %}
{% load staticfiles %}

{% block seo %}
  <title>eConvenor  |  Contact</title>
  <meta name="description" content="Contact eConvenor.">
{% endblock seo %}

{% block content %}

    <!-- PAGE HEADER
    ================================================== -->
    <div class="jumbotron divider general">
      <div class="container">
        <h1 class="text-center">Contact eConvenor</h1>
      </div><!-- /.container -->
    </div> <!-- /.jumbotron -->

    <!-- BODY
    ================================================== -->
    <div class="section general">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h2 class="red">Email</h2>
            <p class="lead">
              <span class="doubtful">div</span><span class="doubtful">er</span><span class="actual">ma</span><span class="doubtful">sion@</span><span class="actual">i</span><span class="real">l@e</span><span class="dubious">distraction@econvenor.org</span><span class="actual">co</span><span class="real">nve</span><span class="doubtful">econve</span><span class="real">nor.o</span><span class="doubtful">nor.org</span><span class="actual">rg</span>
            </p>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.section -->

{% endblock content %}


