{% extends "landing_base.html" %}
{% load staticfiles %}

{% block seo %}
  <title>eConvenor  |  Donate money</title>
  <meta name="description" content="Donate money to eConvenor.">
{% endblock seo %}

{% block content %}

    <!-- PAGE HEADER
    ================================================== -->
    <div class="jumbotron divider general">
      <div class="container">
        <h1 class="text-center">Donate money</h1>
      </div><!-- /.container -->
    </div> <!-- /.jumbotron -->

    <!-- BODY
    ================================================== -->
    <div class="section general">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h2 class="red">Paypal</h2>
            <p>You can transfer funds through your Paypal account to:&nbsp;&nbsp;<span class="doubtful red">div</span><span class="doubtful red">er</span><span class="actual red">do</span><span class="doubtful red">sion@</span><span class="actual red">nate</span><span class="real red">@e</span><span class="dubious red">distraction@econvenor.org</span><span class="actual red">co</span><span class="real red">nve</span><span class="doubtful red">econve</span><span class="real red">nor.o</span><span class="doubtful red">nor.org</span><span class="actual red">rg</span>
            </p>
            <h2 class="red">Credit cards</h2>
            <p>A credit card facility is coming soon.</p>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.section -->

{% endblock content %}


