<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="shortcut icon" href="{% static 'images/econvenor-favicon-v1.ico' %}">

    <title>eConvenor - Your virtual convenor</title>

	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing.css' %}" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>

  <body>
  
    <!-- NAVBAR 
    ================================================== -->

    <div class="navbar navbar-fixed-top">
      <div class="container">
        <span class="navbar-brand">
          <img src="{% static 'images/econvenor-logo-v1l.png' %}" width="200" height="45" alt="An image of the eConvenor logo">
        </span>
        <div class="pull-right">
          <a href={% url 'qualify' 'step0' %}><button type="button" class="btn btn-primary">Sign up</button></a>
          <a href={% url 'login' %}><button type="submit" class="btn btn-primary">Sign in</button></a>

        </div>
      </div>
    </div>


    <!-- HERO
    ================================================== -->
    <div class="jumbotron" id="hero">
      <div class="container">
        <h1 class="text-center">Make organising your group less work.</h1>
        <h2 class="text-center">eConvenor is now available in beta.</h2>
      </div><!-- /.container -->
    </div> <!-- /.jumbotron -->

    <!-- SECTION 1
    ================================================== -->
    <div class="section" id="section1">
      <div class="container narrow-columns">
        <div class="row">
        
          <!-- Column 1 -->
          <div class="col-xs-6 col-md-3">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x red"></i>
              <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
            </span>
            <h2>Save time and effort</h2>
            <p>eConvenor makes compiling and distributing agendas easy. A minutes template for each meeting is created from the agenda automatically. eConvenor even follows people up about completing their tasks and action items.</p>
          </div><!-- /.col-xs-6 -->

          <!-- Column 2 -->
          <div class="col-xs-6 col-md-3">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x orange"></i>
              <i class="fa fa-thumb-tack fa-stack-1x fa-inverse"></i>
            </span>
            <h2>Don't lose track of things</h2>
            <p>eConvenor tracks your group's tasks and makes sure you don't forget them. It automatically sends reminders when deadlines approach and adds incomplete tasks to the next meeting's agenda. Nothing falls through the cracks.</p>
          </div><!-- /.col-xs-6 -->
          
          <!-- Clear floats so that columns wrap properly is xs viewports -->
          <div class="clearfix visible-xs"></div>
          
          <!-- Column 3 -->
          <div class="col-xs-6 col-md-3">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x red"></i>
              <i class="fa fa-copy fa-stack-1x fa-inverse"></i>
            </span>
            <h2>Stay organised and consistent</h2>
            <p>eConvenor keeps lists of your decisions and tasks. Now you can check what you did or decided last week or last year, even if you have a whole new committee. Your agendas and minutes will be easy to find.</p>
          </div><!-- /.col-xs-6 --> 

          <!-- Column 4 -->
          <div class="col-xs-6 col-md-3">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x orange"></i>
              <i class="fa fa-star fa-stack-1x fa-inverse"></i>
            </span>
            <h2>Coordinate your group better</h2>
            <p>We've taken years of experience with grassroots groups and campaigns and baked it into a computer program. eConvenor gives you the tools to help your group run smoothly even if you're not exactly the organised type.</p>
          </div><!-- /.col-xs-6 -->
                                   
        </div><!-- /.row --> 
      </div><!-- /.container -->
    </div><!-- /.section -->

    <!-- DIVIDER 1
    ================================================== -->
    <div class="jumbotron divider orange-background">
      <div class="container">
      	<h1 class="text-center">Built by activists, for activists.</h1>
      	<h2 class="text-center">eConvenor is a free service to help activist groups everywhere be more effective.</h2>
      </div><!-- /.container -->
    </div> <!-- /.jumbotron -->

    <!-- SECTION 2
    ================================================== -->
    <div class="section" id="section2">
      <div class="container wide-columns">
    
        <div class="row">
          <div class="col-xs-12">
            <h1>What does eConvenor do?</h1>
            <p class="lead">eConvenor is a group-organising tool for grassroots campaigns and community groups. It handles the boring and time-consuming bits of organising a group, so you can get on with the real work.<span class="orange">&nbsp; It's your virtual secretary, convenor and coordinator.</span></p>      
          </div><!-- /.col-xs-12 -->
        </div><!-- /.row -->    
              
        <div class="row">
          
          <div class="col-xs-12 col-sm-6">
            <ul class="fa-ul">
            <!-- Left column item 1 -->
              <li><i class="fa-li fa fa-file-text fa-3x orange"></i>
                <ul>
                  <li><p class="lead orange">Helps build meeting agendas</p></li>
                  <li><p>Create and edit agendas quickly and easily. You can add time limits for each item and eConvener will tell you what time the meeting should finish. Unfinished business and outstanding tasks are automatically included, then it's emailed out.</p></li>
                </ul>
              <!-- Left column item 2 -->
              <li><i class="fa-li fa fa-file-text-o fa-3x orange"></i>
                <ul>
                  <li><p class="lead orange">Creates easy-to-read minutes</p></li>
                  <li><p>One mouse click creates a minutes template from the agenda. Just fill it in. Once you finish the minutes they can be emailed out in seconds. The minutes show the decisions clearly, and there is a task table for quick reference.</p></li>
                </ul> 
              </li>
              <!-- Left column item 3 -->
              <li><i class="fa-li fa fa-archive fa-3x orange"></i>
                <ul>
                  <li><p class="lead orange">Organises your meeting records</p></li>
                  <li><p>eConvenor keeps your group's agendas and minutes in one location. This ensures that your group's important documents are well organised, always available and are never lost or accidentally deleted.</p></li>
                </ul>
              </li>
            </ul><!-- /.fa-ul -->
          </div><!-- /.col-xs-12 -->
              
          <div class="col-xs-12 col-sm-6" id="section2-right">
            <ul class="fa-ul">
            <!-- Right column item 1 -->
              <li><i class="fa-li fa fa-check-square-o fa-3x orange"></i>
                <ul>
                  <li><p class="lead orange">Tracks and follows up tasks</p></li>
                  <li><p>Tasks are taken from meeting minutes, kept in a list and tracked so nothing is ever forgotten. When a task is nearly due, eConvenor emails a reminder to the person responsible. Tasks that are incomplete at the next meeting are automatically added to the agenda.</p></li>
                </ul>
              </li>
              <!-- Right column item 2 -->
              <li><i class="fa-li fa fa-list fa-3x orange"></i>
                <ul>
                  <li><p class="lead orange">Collates and lists decisions</p></li>
                  <li><p>Decisions made by your group are copied from the minutes and collated into a master list. Shortly, decisions will be searchable by keyword or date. This is a useful tool to stop your group making the same decisions twice.</p></li>
                </ul>
              </li>
              <!-- Right column item 3 -->
              <li><i class="fa-li fa fa-users fa-3x orange"></i>
                <ul>
                  <li><p class="lead orange">Holds your participants' details</p></li>
                  <li><p>eConvenor keeps a list of your group's participants, plus a summary page for every participant. Each participant's page shows their tasks.</p></li>
                </ul> 
              </li>              
            </ul><!-- /.fa-ul -->
          </div><!-- /.col-xs-12 -->
          
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.section -->

    <!-- DIVIDER 2
    ================================================== -->
    <div class="jumbotron divider red-background">
      <div class="container">
      	<h1 class="text-center">Sometimes the best person for the job is a computer.</h1>
      	<h2 class="text-center">eConvenor does its work on time, has high standards and never forgets anything.</h2>
      </div><!-- /.container -->
    </div> <!-- /.jumbotron -->

    <!-- SECTION 3
    ================================================== -->
    <div class="section" id="section3">
      <div class="container wide-columns">

        <div class="row">
          <div class="col-xs-12">    
            <h1>Who is eConvenor for?</h1>
            <p class="lead">eConvenor is for grassroots campaigns, non-government organisations (NGOs), progressive service providers and activist groups.<span class="red">&nbsp; Your group must have a socially-just, progressive focus.</span></p>      
          </div><!-- /.col-xs-12 -->
        </div><!-- /.row -->            
        
        <div class="row">
          
          <div class="col-xs-12 col-sm-6">
            <h2>eConvenor is for groups like these</h2>
            <ul class="fa-ul">
            <!-- Left column item 1 -->
              <li><i class="fa-li fa fa-check-circle fa-3x red"></i>
                <ul>
                  <li><p class="lead red">A rights collective in the Philippines</p></li>
                  <li><p>which is trying to improve wheelchair access to public buildings in their local area. They have 12 activists and no budget.</p></li>
                </ul>
              </li>
              <!-- Left column item 2 -->
              <li><i class="fa-li fa fa-check-circle fa-3x red"></i>
                <ul>
                  <li><p class="lead red">A domestic violence crisis service in the UK</p></li>
                  <li><p>which is run by 7 staff, who help 300 women every year. They have a volunteer board of directors.</p></li>
                </ul>
              </li>
              <!-- Left column item 3 -->
              <li><i class="fa-li fa fa-check-circle fa-3x red"></i>
                <ul>
                  <li><p class="lead red">An anti-fracking campaign in Poland</p></li>
                  <li><p> which has a national committee, local sub-committees and 200 campaigners. Their budget stretches to printing posters and paying one part-time staff member.</p></li>
                </ul>
              </li>
            </ul><!-- /.fa-ul -->
          </div><!-- /.col-xs-12 -->
 
          <div class="col-xs-12 col-sm-6">
            <h2>It's not for everyone though</h2>
            <p class="lead" >We built eConvenor to make the world a better place.</p> 
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-times-circle fa-3x red"></i>
                <ul>
                  <li><p class="lead red">You must not use eConvenor if your group:</p></li>
                  <li><p><i class="fa fa-times fa-lg fa-align red"></i>&nbsp;&nbsp;is conservative or oppressive</p></li>
                  <li><p><i class="fa fa-times fa-lg red"></i>&nbsp;&nbsp;operates for profit</p></li>
                  <li><p><i class="fa fa-times fa-lg red"></i>&nbsp;&nbsp;is a government agency</p></li>
                  <li><p><i class="fa fa-times fa-lg red"></i>&nbsp;&nbsp;aims to spread religion.</p></li>                  
                </ul>
              </li><!-- /.fa.li -->
            </ul><!-- /.fa-ul -->
          </div><!-- /.col-xs-12 -->
          
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.section -->          

    <!-- DIVIDER 3
    ================================================== -->
    <div class="jumbotron divider orange-background">
      <div class="container">
      	<h1 class="text-center">Keep your group in the loop.</h1>
      	<h2 class="text-center">eConvenor auto-magically does half the work of agendas and minutes for you.</h2>
      </div><!-- /.container -->
    </div> <!-- /.jumbotron -->

    <!-- SECTION 4
    ================================================== -->
    <div class="section" id="section4">
      <div class="container wide-columns">
    
        <div class="row">
          <div class="col-xs-12">
            <h1>eConvenor is free!</h1>
            <p class="lead"><span class="orange">We aim to make the eConvenor service available as widely as we can.</span>&nbsp; This means eConvenor is free for almost everyone, and we ask better funded groups to contribute financially.</p>      
          </div><!-- /.col-xs-12 -->
        </div><!-- /.row -->    
        
        <div class="row">
          
          <div class="col-xs-12 col-sm-6">
            <h2>From each according to their means</h2>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-th fa-3x orange"></i>
                <ul>
                  <li><p class="lead orange">Most groups</p></li>
                  <li><p>Does your group have no budget or a tiny budget? eConvenor was built for you! You can use eConvenor completely free. No obligation, no worries.</p></li>
                </ul>
              </li>
              <li><i class="fa-li fa fa-th-large fa-3x orange"></i>
                <ul>
                  <li><p class="lead orange">Groups which can afford to contribute</p></li>
                  <li><p>Groups who feel that they can afford to make a donation in return for using eConvenor should do so once each year.</p></li>
                </ul>                
              </li>
              <li><i class="fa-li fa fa-square fa-3x orange"></i>
                <ul>
                  <li><p class="lead orange">Political parties and trade unions</p></li>
                  <li><p>Political parties and trade unions in high income countries who are progressive and committed to social justice can use eConvenor for a fee.</p></li>
                </ul>                                
              </li>
            </ul><!-- /.fa-ul -->
            <p>We rely on your honesty. We hope you will apply your ethics and contribute if you should. Donations help eConvenor improve.</p>
          </div><!-- /.col-xs-12 -->
          
          <div class="col-xs-12 col-sm-6">
            <h2>Help build eConvenor</h2>
              <ul class="fa-ul">
                <li>
                  <span class="fa-li fa fa-stack fa-xl">
                    <i class="fa fa-square fa-stack-2x orange"></i>
                    <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                  </span>
                  <ul>
                    <li><p class="lead orange">Can you code? Do you want to learn how?</p></li>
                    <li><p>When you write code to improve and extend eConvenor, you help activist groups and campaigns around the world be more effective. If you're looking for a way to make a difference on a large scale, come and work on eConvenor with us.</p></li>
                    <li><p>If you're an experienced coder, that's great. If not, we'll help you learn. We started coding not that long ago ourselves.</p></li>
                    
                  </ul>
                  </li>
                  <li>
                  <span class="fa-li fa fa-stack fa-xl">
                    <i class="fa fa-square fa-stack-2x orange"></i>
                    <i class="fa fa-bug fa-stack-1x fa-inverse"></i>
                  </span>
                  <ul>
                    <li><p class="lead orange">We like getting bug reports</p></li>
                    <li><p>Once eConvenor goes live, we will be relying on you to tell us when something doesn't work properly. Your feedback will help make eConvenor better. When you find a bug, please take a few minutes to tell us so that we can fix it.</p></li>
                  </ul>
                </li>
              </ul><!-- /.fa-ul -->
          </div><!-- /.col-xs-12 -->
          
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.section -->    

    <!-- DIVIDER 4
    ================================================== -->
    <div class="jumbotron divider black-background" id="divider4">
      <div class="container">
      	<h1 class="text-center">eConvenor is available now in beta.</h1>
      	<h2 class="text-center">Sign up for an account!</h2>
      </div><!-- /.container -->
    </div> <!-- /.jumbotron -->
  
    <!-- FOOTER
    ================================================== -->  
    <div class="section" id="footer">
      <div class="container">
        <p class="text-center">
          <img src="{% static 'images/email-address-v1.png' %}" alt="This is an image of our email address. You can email us at 'mail' at this domain.>
        </p>
      </div>
    </div>
     
    <!-- JavaScript
    ================================================== -->
	<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script> 
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script type="text/javascript">
    var bootstrapButton = $.fn.button.noConflict()
    $.fn.bootstrapBtn = bootstrapButton 
    </script>

  </body>
</html>

