<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    {% block seo %}
    {% endblock seo %}

    <link rel="shortcut icon" href="{% static 'images/econvenor-favicon-v1.ico' %}">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- NAVBAR
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="container">
        <span class="navbar-brand">
          <a href={% url 'index' %}>
            <img src="{% static 'images/econvenor-logo-v1l.png' %}" width="200" height="45" alt="An image of the eConvenor logo">
          </a>
        </span>
        <div class="pull-right">
          <a href={% url 'qualify' 'step0' %}><button type="button" class="btn btn-primary">Sign up</button></a>
          <a href={% url 'login' %}><button type="button" class="btn btn-primary">Sign in</button></a>

        </div>
      </div>
    </div>

    {% comment %}
    <!-- RIBBON
    ================================================== -->
    <div class="ribbon">
      <div class="container">
        <div class="message-container">
          <i class="fa fa-map-marker fa-lg"></i>&nbsp;&nbsp;
          Are you in Melbourne, Australia?&nbsp;&nbsp;Come and <a href={% url 'hack' %}>hack on eConvenor with us</a> on Saturday 14th March 2015!
        </div>
      </div>
    </div>
    {% endcomment %}

    {% block content %}
    {% endblock content %}

    <!-- FOOTER
    ================================================== -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-2">
            <p class="lead">More information</p>
            <p><a href={% url 'questions' %}>Common questions</a></p>
            <p><a href={% url 'terms' %}>Terms and conditions</a></p>
          </div><!-- /.col -->
          <div class="col-xs-3">
            <p class="lead">About eConvenor</p>
            <p><a href={% url 'project' %}>The eConvenor project</a></p>
            <p><a href={% url 'contact' %}>How to contact us</a></p>
            <p><a href={% url 'source' %}>Source code</a></p>
          </div><!-- /.col -->
          <div class="col-xs-3">
            <p class="lead">Contribute</p>
            <p><a href={% url 'volunteer' %}>Work on eConvenor</a></p>
            <p><a href={% url 'hack' %}>Monthly hack day</a></p>
            <p><a href={% url 'donate' %}>Donate money</a></p>
            <p><a href={% url 'pricing' %}>Unions & political parties</a></p>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.footer -->

    <!-- JavaScript
    ================================================== -->
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

    <script type="text/javascript">
    var bootstrapButton = $.fn.button.noConflict()
    $.fn.bootstrapBtn = bootstrapButton
    </script>

    <script type="text/javascript">
      $('.carousel').carousel({
        interval: 7000
      });
    </script>

    <script type="text/javascript">
      $('.popup-image').magnificPopup({
        type: 'image',
        image: {
          cursor: 'mfp-zoom-out-cur',
        },
        closeOnContentClick: true,
      });
    </script>

    {% block extrajs %}
    {% endblock extrajs %}

  </body>
</html>

