{% extends "landing_base.html" %}
{% load staticfiles %}

{% block seo %}
  <title>eConvenor - Terms and conditions</title>
  <meta name="description" content="eConvenor's terms and conditions.">
{% endblock seo %}

{% block content %}

    <!-- PAGE HEADER
    ================================================== -->
    <div class="jumbotron divider general">
      <div class="container">
        <h1 class="text-center">Terms and Conditions</h1>
      </div><!-- /.container -->
    </div> <!-- /.jumbotron -->

    <!-- BODY
    ================================================== -->
    <div class="section general">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h2 class="red">What eConvenor expects from you</h2>
              <p class="lead">We expect that you will:</p>
                <ul class="fa-ul">
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    use your account only for groups who are progressive, committed to social justice and not-for-profit</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    contribute financially if your group should do so</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    do your best to use strong passwords</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    maintain the security of your passwords and login details and</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    abide by these terms and conditions</li>
                </ul>

              <p class="lead">We hope that you will:</p>
                <ul class="fa-ul">
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    spread the word about eConvenor</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    tell us when something isn't working, whether it's just broken, or an accessibility problem and</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    raise any concerns you have with us via email</li>
                </ul>
              
              <p class="lead">We expect that you will not:</p>
                <ul class="fa-ul">
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    use your account for groups which are government agencies, authorities or departments; or groups which aim to spread or impose religion</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    use eConvenor to progress right-wing, socially conservative, economically conservative, oppressive or otherwise harmful agendas or</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    lie to us in your application to use eConvenor</li>
                </ul>

              <p class="lead">If you break the rules, we may:</p>
                <ul class="fa-ul">
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    send you a warning</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    lock your account until the matter is resolved</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    refuse any further access to your account and stored data (in serious cases)</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    delete your data (in serious cases) and/or</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    block you and your group from using eConvenor (in serious cases)</li>
                </ul>

              <h2 class="red">What you can expect from eConvenor</h2>
              <p class="lead">eConvenor promises not to:</p>
                <ul class="fa-ul">
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    give your data to third parties unless compelled by law</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    sell or trade your contact details or other information or</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    ask you for unnecessary private or personal information.</li>
                </ul>

              <p class="lead">eConvenor promises to:</p>
                <ul class="fa-ul">
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    act ethically in building and maintaining eConvenor</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    vigorously resist all demands for information from third parties up until the point where we are compelled to comply with a lawful demand and</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    tell you when eConvenor's terms and conditions change.</li>
                </ul>

              <p class="lead">eConvenor will try as hard as possible to:</p>
                <ul class="fa-ul">
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    keep your data secure</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    make eConvenor accessible to people with disabilities and</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    provide uninterrupted access to the service.</li>
                </ul>

              <p class="lead">If you raise a concern with eConvenor we will:</p>
                <ul class="fa-ul">
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    respond in reasonable timeframe considering that we are a tiny, volunteer organisation</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    examine our own conduct in good faith and with an openness to change</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    aim to resolve issues with a will to abolish oppression, recognition of responsibility for misuse of privilege, and a committment to social justice.</li>
                </ul>

              <h2 class="red">Licence and legal bits</h2>

              <p class="lead">It is okay for you to:</p>
                <ul class="fa-ul">
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    use, modify or reproduce snippets of code without attribution</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    review eConvenor's source code for learning, security or other purposes</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    contribute to eConvenor's code base</li>
                </ul>

              <p class="lead">It is not okay for you to:</p>
                <ul class="fa-ul">
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    sell access to eConvenor</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    sell copies of eConvenor</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    use eConvenor's source code to create and sell a similar service or</li>
                  <li>
                    <i class="fa fa-li fa-arrow-circle-right fa-lg red"></i>
                    use eConvenor's name or logo without eConvenor's permission</li>
                </ul>

              <p class="lead">Abandoned accounts</p>

              <p>If you don't sign in to your account for 12 months, it will be treated as abandoned. eConvenor will delete abandoned accounts.</p>

              <p class="lead">Updates to eConvenor's terms and conditions</p>

              <p>eConvenor's terms and conditions are likely to change from time to time. We will tell you when they do. By continuing to use eConvenor after the terms and conditions change, you agree to the new terms and conditions.</p>

              <p class="lead">Jurisdiction</p>

              <p>eConvenor is an Australian organisation, and the terms and conditions are governed in all respects by the laws of Australia. Any actions arising from the terms and conditions or in any way associated with eConvenor may be brought only in Australia.</p>

              <p class="lead">Liability</p>

              <p>The service is provided "as is", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and non-infringement. In no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the service or the use or other dealings in the service.</p>
 
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.section -->

{% endblock content %}
