/*
 * Page body
 *
 * Add padding beneath navbar and adjust background colour.
 */

body {
  font-family: 'Body font', Helvetica, Arial, sans-serif;
  padding-top: 3em;
/*  background-color: #eeeeee; */
  background-image: url('/static/images/ticks.png');
}


/*
 * Main navigation
 *
 * Adjust colours.
*/

.nav {
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  background-color: #563d7c;
  border-color: #463265;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);
}
.nav .navbar-collapse {
  border-color: #463265;
}
.nav .navbar-brand {
  color: #fff;
}
.nav .navbar-nav > li > a {
  color: #cdbfe3;
}
.nav .navbar-nav > li > a:hover {
  color: #fff;
}
.nav .navbar-nav > .active > a,
.nav .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #463265;
}
.nav .navbar-toggle {
  border-color: #563d7c;
}
.nav .navbar-toggle:hover {
  background-color: #463265;
  border-color: #463265;
}



/*
 * Index page navigation
 *
 * Adjust colours.
*/

.index-nav {
  text-shadow: 0 0 0 rgba(0,0,0,.15);
  background-color: #ffffff; /* colour of area not under navigation text */
  border-color: #111111; /* bottom border of entire navigation bar */
  box-shadow: 0 0 0 rgba(255,255,255,.1);
}
.index-nav .navbar-collapse {
  border-color: #463265; /* this setting doesn't appear to be active on larger screens */
}
.index-nav .navbar-brand {
  color: #000000; /* brand area text colour */
}
.index-nav .navbar-nav > li > a {
  color: #222222; /* navigation text colour */
  background-color: #ffffff; /* colour of area under navigation text */
}
.index-nav .navbar-nav > li > a:hover {
  color: #563d7c; /* navigation text hover colour */
}
.index-nav .navbar-nav > .active > a,
.index-nav .navbar-nav > .active > a:hover {
  color: #000000; /* active text colour */
  background-color: #ffffff; /* colour of area under active text */
}
.index-nav .navbar-toggle {
  border-color: #563d7c; /* this setting doesn't appear to be active on larger screens */
}
.index-nav .navbar-toggle:hover {
  background-color: #463265; /* this setting doesn't appear to be active on larger screens */
  border-color: #463265; /* this setting doesn't appear to be active on larger screens */
}


/*
 * Button - primary
 *
 * Adjust colours.
*/

.btn-primary {
  color: #eeeeee;
  background-color: #7251A4; 
  border-color: #563d7c;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #eeeeee;
  background-color: #563d7c;
  border-color: #463265;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #7251A4;
  border-color: #563d7c;
}



/*
 * Button - default
 *
 * Adjust colours.
*/
.btn-default {
  color: #333333;
  background-color: #eeeeee;
  border-color: #bbbbbb;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #cccccc;
  border-color: #999999;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #eeeeee;
  border-color: #cccccc;
}



/*
 * Button - danger
 *
 * Adjust colours.
*/
.btn-danger {
  color: #eeeeee;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #eeeeee;
  background-color: #d2322d;
  border-color: #ac2925;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}



/*
 * Well
 *
 * Adjust colour.
*/

.well {
  background-color: #dbd6e1;
  border: 1px solid #e3e3e3;
 }
 
 
 
 /*
 * Panel - primary
 *
 * Adjust colours.
*/
 .panel-primary {
  border-color: #7251A4;
}

.panel-primary > .panel-heading {
  color: #eeeeee;
  background-color: #7251A4;
  border-color: #7251A4;
}

.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #7251A4;
}

.panel-primary > .panel-heading > .dropdown .caret {
  border-color: #eeeeee transparent;
}

.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #7251A4;
}


/*
 * Heading text
 *
 * Change font.
*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Heading font', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
}


/*
 * Small heading text
 *
 * Adjust colour.
*/

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #666666;
}



/*
 * Table
 *
 * Adjust colours.
*/

th {
  color: #eeeeee
}

thead {
  background-color: #7251A4;
}


