@font-face {
  font-family: 'Body font';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu');
}

@font-face {
  font-family: 'Heading font';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu');
}
